[2019-06-27 06:56] samuelgarcia opened #4 "Make proper error handling and log into file"
Make proper error handling when not in python
and log into file for further debugging.

[2019-06-27 06:57] samuelgarcia opened #5 "Move to BaseSorter the trick to avoid copy of rawbinary for some sorters."

[2019-06-27 07:13] samuelgarcia opened #6 "create the pypi package"
@alejoe91  : could you create the pypi package with your account ?
So the travis credential hash would work directly.

[2019-06-27 11:31] alejoe91 commented on #6
0.1.0 is out in the world

[2019-06-27 11:31] #6 closed

[2019-06-27 15:26] alejoe91 opened #8 "handle parameters in a standardized way for GUI"
@colehurwitz

[2019-06-27 15:27] alejoe91 opened #9 "Fix spykingcircus test on travis (and locally)"
we should force spykingcircus==0.8.0 and install mpich on travis

[2019-06-27 15:28] alejoe91 opened #10 "Some sorters have a high verbosity event with debug=False"
I'm trying to catch the stdout, but with Popen you can read the stdout once the process is finished.

@samuelgarcia do you know of an alternative?

[2019-06-27 15:34] colehurwitz commented on #8
Hello! I think that so far I am happy with the current GUI param situation. Currently, I set GUI params separately in each sorter. I also set GUI params in each recording extractor, preprocessor, and postprocessor. Each param is formatted in the pyqtgraph format which is a dictionary with keys: ['name',  'type', 'title']. If a default value exists for the param, then the dictionary will have:  ['n

[2019-06-27 15:44] alejoe91 commented on #8
closing then :)

[2019-06-27 15:44] #8 closed

[2019-06-27 15:44] colehurwitz commented on #8
It might be good for me to document this process somewhere for contributors... any ideas where?

[2019-06-27 15:46] alejoe91 commented on #8
In spikesorters README. We should have a "ADD YOUR SORTER SECTION"

[2019-06-27 15:47] alejoe91 opened #11 "implement YASS"

[2019-06-27 15:49] alejoe91 opened #12 "implement HDSort"

[2019-06-27 15:49] colehurwitz commented on #8
Gotcha. I can put something there for that. However, GUI params exist in all repos... Maybe after I make the README/RTD for spikely, I can put it there.

[2019-06-27 15:49] alejoe91 opened #13 "implement Wave_clus"

[2019-06-27 16:17] alejoe91 commented on #12
@felfranke maybe you could put me in contact with Roland?

[2019-06-27 16:26] alejoe91 opened #14 "update IronClust wrapper form SpikeForest"
The current IronClust wrapper is outdated.

We should merge with the one from SpikeForest (https://github.com/flatironinstitute/spikeforest/tree/master/spikeforest/spikesorters/ironclust)

[2019-06-27 21:55] ferchaure commented on #13
I was reading the kilosort wrapper, did you check that making a matlab script and then run it is better that use the matlab engine api for python? Just asking if you thought on the pros and cons

[2019-06-27 22:16] magland commented on #14
I can help with this. I will assign to myself.

[2019-06-27 22:38] magland commented on #10
Not sure if this is what you are referring to but here's how I capture standard output (not sure how it works in notebook)

[code]

where ConsoleCapture() is here: https://github.com/flatironinstitute/spikeforest/blob/master/mountaintools/mlprocessors/consolecapture.py

You can grab it and modify it as you like.

[2019-06-28 08:17] samuelgarcia commented on #9
Yep.

[2019-06-28 08:18] samuelgarcia commented on #11
JinHyung Peter Lee said me that they went to finish some implementation in yass and then they will work on the implemenattion themself here.

[2019-06-28 08:20] samuelgarcia commented on #13
I think no.
Code generation and parameters is a quite easy to make and read so people not familiar with python should be able to patch if there are mistake.

The main drawback with the actual implementation is error handling.

[2019-06-28 08:21] samuelgarcia commented on #14
Supper cool. Thanks Jeremy.

[2019-06-28 08:24] samuelgarcia commented on #10
Thank for this link, I think we could take this ConsoleCapture and extend it with \_\_enter\_\_ and \_\_exit\_\_ the context manager of python.

[2019-06-28 08:26] magland commented on #13
Regarding error handling, I think we should update the matlab sorter wrappers to use the following kind of code that we use in spikeforest that makes it possible to catch matlab exceptions and to have the code more readable. It makes use of a ShellScript class there. Still not perfect...

[code]

[2019-06-28 08:28] magland commented on #10
I agree. I am adding it to my todo list on spikeforest, but if somebody
wants to tackle it first let me know.

On Fri, Jun 28, 2019 at 9:24 AM Garcia Samuel <notifications@github.com>
wrote:

[2019-06-28 08:41] samuelgarcia commented on #13
Ironclust have a CLI ?

[2019-06-28 08:42] magland commented on #13
What do you mean @samuelgarcia ?

[2019-06-28 08:44] samuelgarcia commented on #13
a command line interface p_ironclust is command in the console ?
I thought it was run into matlab directly.

[2019-06-28 08:44] magland commented on #13
If you look more closely at he code you will see that p_ironclust is being called inside matlab.

[2019-06-28 08:47] samuelgarcia commented on #13
Oups sorry. yes.
I am too tired, the weatheris super hot in france and I slept only a few hours :(

[2019-06-28 08:51] magland commented on #13
Hope you can catch up on sleep. Sometimes it's hard for me to adjust after travel. But sleep is important.

[2019-06-28 08:52] alejoe91 commented on #11
Yes I made an issue on the YASS page :) https://github.com/paninski-lab/yass/issues/288

[2019-06-28 09:40] magland opened #15 "prm file not included in pypi package"
I get the following error when running klusta from the pypi-installed spikesorters package

I think we need to ensure the .prm files are added to the package

[2019-06-28 10:02] magland commented on #15
I made PR for this (just fixing paths in MANIFEST.in). Please merge and cut a new release as soon as you can so that I can use this in spikeforest.

https://github.com/SpikeInterface/spikesorters/pull/16

[2019-06-28 10:14] alejoe91 commented on #15
merged

[2019-06-28 10:14] #15 closed

[2019-06-28 10:16] samuelgarcia commented on #15
@alejoe91 : can you tag a new release ?

[2019-06-28 11:42] magland opened #17 "merging matlab sorters (spikeforest/spiketoolkit)"
I think merging of matlab sorters will be a bit more involved because I think some aspects of spikeforest handing is better. For example using ShellScript class for catching exceptions, etc. Also there are tricky details regarding auto-installs from github commits of the matlab projects. I think this is important because there is no package versioning like there is in python. The way sf handles it

[2019-06-28 12:00] colehurwitz commented on #17
I am free next week on every day except for Tuesday and Wednesday.

[2019-06-28 12:03] magland commented on #17
Let's coordinate via email.

[2019-06-28 12:14] samuelgarcia commented on #17
Yes.
I think we must keep the best implementation from ST or SF case by case.

At the moment to avoid depency of spikesorter on moutaintools we can have a copy of subset of tools like ShellScript inside spikesorters.
No ?

[2019-06-28 12:15] magland commented on #17
Yes, and ShellScript is WIP, so we can make copies here there and
everywhere.

On Fri, Jun 28, 2019 at 8:14 AM Garcia Samuel <notifications@github.com>
wrote:

[2019-06-28 16:20] alejoe91 commented on #4
https://github.com/SpikeInterface/spikesorters/issues/17

[2019-06-29 00:13] magland opened #18 "something bad happened to mountainsort4"
So I reran the processing with mountainsort4, now that we are using the spiketoolkit wrapper... and something bad has happened. It takes way longer, and even times out for the long recordings. But I don't think this is the fault of the wrapper. I believe something bad may have happened to ml_ms4alg. I will try to track it down.

[2019-06-29 09:26] magland commented on #18
I tracked it down. Seems that I had `curate=False` instead of `curation=False`

@samuelgarcia I think the base sorter class needs some parameter validation so that it throws an exception if an unsupported parameter is passed in.

Turns out the curation is VERY slow for larger channel counts. In theory it should be okay, but the present implementation is very slow. So I also think it should be Fals

[2019-06-29 09:32] magland commented on #18
I will close this and make separate issues for those two items.

[2019-06-29 09:32] #18 closed

[2019-06-29 09:33] magland opened #19 "base sorter should validate parameters"
@samuelgarcia

I think the base sorter class needs some parameter validation so that it throws an exception if an unsupported parameter is passed in. For example, I mistakenly passed in curate=False rather than curation=False and there was no warning.

[2019-06-29 09:34] magland opened #20 "mountainsort4 curation should be False by default"
Turns out the curation for ms4 is VERY slow for larger channel counts. In theory it should be okay, but the present implementation is very slow. So I also think it should be False by default.

@alejoe91

[2019-06-29 09:36] alejoe91 commented on #20
Ok I'll change that. In SF you don't use curation then?

[2019-06-29 09:37] magland commented on #20
No, not at the present time.

On Sat, Jun 29, 2019 at 5:36 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-06-29 09:37] magland commented on #20
(and we don't have metrics yet to penalize extra noise clusters)

On Sat, Jun 29, 2019 at 5:37 AM Jeremy Magland <
jmagland@flatironinstitute.org> wrote:

[2019-06-29 09:39] alejoe91 commented on #20
Ok! My bad I thought curation was a necessary step most of the times.
I'll fix that. :)

[2019-06-29 09:44] alejoe91 commented on #19
I agree. How do you deal with this in SF?

We could have something like:

[code]

What do you think?

[2019-06-29 09:47] magland commented on #19
I think that code you wrote seems about right. Do you already check whether the required (non-optional) parameters are provided?

There's validation infrastructure built into mountaintools:
https://github.com/flatironinstitute/mountaintools/blob/master/mlprocessors/core.py

[2019-06-29 09:49] alejoe91 commented on #19
So the way we do it is merging the default_params with the user default params. So if a parameter is not given the default will be used.

I think we should discuss on Monday if we should integrate MT for this steps as well.

[2019-06-29 10:08] alejoe91 commented on #20
https://github.com/SpikeInterface/spikesorters/pull/21

[2019-06-29 10:08] #20 closed

[2019-06-29 10:18] alejoe91 commented on #19
https://github.com/SpikeInterface/spikesorters/pull/22

[2019-06-29 10:19] alejoe91 commented on #10
This fixes MS4 https://github.com/SpikeInterface/spikesorters/pull/22

[2019-06-29 10:25] #19 closed

[2019-06-29 10:32] alejoe91 commented on #9
@yger

I can't figure out how to fix it.

In travis I added mpich, mpi4py, pyqt5, and spikingcircus==0.8.0, but tests still fail https://github.com/SpikeInterface/spikesorters/pull/23

Any idea?

[2019-06-29 10:52] yger commented on #9
With conda, mpich is the default. Let me know if you have issues, as said let's work with 0.8.1 from now on. I'm also not an expert in travis/appveyor and packaging :-(

[2019-06-29 12:19] alejoe91 commented on #9
Yeeeeey https://github.com/SpikeInterface/spikesorters/pull/23

[2019-06-29 12:19] #9 closed

[2019-06-29 12:20] alejoe91 commented on #17
We can probably launch the CLI ones with the ShellScript as well

[2019-07-02 01:06] magland commented on #17
Not to sound like Linus Torvalds, but I think both implementations of kilosort2 wrapper (spikeforest and spikeinterface/spikesorters) have serious problems. :)

Will take me some time to create what I consider a clean version by combining the best of both. But I think it will help.

[2019-07-02 07:56] alejoe91 commented on #17
@magland what do you think are the main problems?

[2019-07-02 08:14] magland commented on #17
Actually, they are not too bad (shouldn't have said serious problems) - and they do seem to work. I just think that they both could be simplified a lot, and that makes it difficult to determine the differences and to merge them.

The spikeforest implementation has a convoluted way of getting the data into matlab (using mda format and argfile). I think this is because it was adapted from an older i

[2019-07-02 08:28] magland commented on #17
Also would like to remove dependency on npy-matlab. (requires additional installation step)

[2019-07-02 09:01] alejoe91 commented on #17
we could save the output to MDA?

[2019-07-02 09:02] magland commented on #17
working on it now. Saving to simple txt for now.

On Tue, Jul 2, 2019 at 5:01 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-07-02 09:11] alejoe91 opened #28 "MS4 fails when sorting divided by groups in parallel"
When running MS4 in parallel (using multhithreading https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/basesorter.py#L101-L109)
it throws an error related to h5py:

[code]

Any idea how to fix it?

[2019-07-02 09:21] magland opened #29 "don't modify recording extractors inside functions when not expected"
For example, the following is not good (in kilosort2.py):

[code]

[2019-07-02 09:32] alejoe91 commented on #29
I do the same in MS4 otherwise it fails if it doesn't have geometry information..
I see your point though. Is there a workaround?

[2019-07-02 09:39] samuelgarcia commented on #17
I think I prefer that the output of each sorter is the natural output of the sorter not a converted one.

For instance, the use case for me, is improving a sorter.
I want to re run many time (and sometimes only some steps of) a particular sorter. I do this outisde ST, in that the output is the "natural" output. For instance a tridesclous folder.

Converting to another format like mda or npz should

[2019-07-02 09:46] magland commented on #29
yes, you'll see in my PR for kilosort2 wrapper

[2019-07-02 13:54] alejoe91 commented on #29
for mountainsort it's tricky because the location info is accessed inside ml_ms4alg...

[2019-07-02 13:55] alejoe91 commented on #17
https://github.com/SpikeInterface/spikesorters/pull/30

Kilosorts done. IronClust on ts way

[2019-07-02 13:56] magland commented on #29
that is tricky. i will ponder about it.

On Tue, Jul 2, 2019 at 9:54 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-07-02 17:41] magland commented on #17
KS and KS2 seem to be working well in SF. Now working on IronClust wrapper.

[2019-07-03 08:36] magland commented on #17
@alejoe91 @samuelgarcia
I am unfortunately getting some different results between kilosort old and kilosort new wrappers... and in fact the new is crashing for all the synth_visapy recordings in SF. So I need to look carefully at the parameter files that are being used. (Fortunately I have scripts to replicate the failure)

[2019-07-03 09:16] samuelgarcia commented on #17
I don't have yet a machine with a big GPU so I won't be able to help striaght now on KS.
Sorry.

[2019-07-03 10:24] magland commented on #17
I found the problem is in the writing of int16 file in the case when the data are float (loss of precision). So for now this is what I am doing:

If the data are all integer, and in the proper range, just write to int16 as normal. Otherwise, scale first to be between +/- 2^14 and then write to int16.

See: https://github.com/SpikeInterface/spikesorters/blob/27a0034c7e99f69ad1ea933d0cdb8361dcd5e7aa

[2019-07-03 10:31] alejoe91 commented on #17
Good catch! Should we have it in spikeextractors.extraction_tools instead?

[2019-07-03 10:32] magland commented on #17
Yes. But let me run the SF pipeline first and make sure it resolves the
problem properly.

On Wed, Jul 3, 2019 at 6:31 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-07-03 10:36] alejoe91 commented on #17
Ok sounds good

[2019-07-03 11:44] magland commented on #17
I guess the last one to do is wave_clus

[2019-07-03 11:49] alejoe91 commented on #17
So did that fix the kilosort mismatches?

[2019-07-03 11:50] magland commented on #17
Still running. Will know in a couple hours.

On Wed, Jul 3, 2019 at 7:49 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-07-03 13:33] magland commented on #17
Seemed to work. Not exactly the same results, but there were some very slight param differences. So I'd say we are good. Updated results are here: https://spikeforest.flatironinstitute.org

[2019-07-03 20:00] samuelgarcia opened #35 "missing requests dependency due to madio (ironclust)"
This make spiketoolkit PR bugy on travis.

[2019-07-03 20:03] samuelgarcia commented on #35
If IronClust is working, why not moving mdaio and mdaextractor in spikeextractor.
No ?

Or do we force requests module in spiketoolkit installation for this particular IO ?

[2019-07-05 07:38] alejoe91 commented on #35
I think that was a WIP.

Both mdaio and MdaRecordingExtractor2 should be moved to spikeextactors @magland

[2019-07-05 11:14] magland commented on #35
Working on this now.

[2019-07-05 13:17] magland commented on #35
A bit more difficult than I suspected. Our mda recording extractors have diverged to some extent. Can we leave things the way they are for now (for fear of breaking something) and I promise I will do a good cleanup. For now I will put some comments in the ironclust code to this effect.

@samuelgarcia, @alejoe91, @colehurwitz, is this okay for now?

[2019-07-05 13:30] samuelgarcia commented on #35
The important is to promise :)
Ok for me, no worry.

[2019-07-11 10:23] samuelgarcia commented on #14
This is done is #32.
Can we close ?

[2019-07-11 10:23] samuelgarcia commented on #17
Can we close this ?

[2019-07-11 10:29] samuelgarcia opened #42 "move docker file from SpikeForest to SpikeSorter ?"
As we discuss in Edimburgh docker file use in SF could be move to spikesorter repo.

Even this is totally useless for spiketoolkit tha main advantage could be that a sorter dev could make a unique PR in spikesorter when doing a new release of the sorter, (like Pierre, Cole and I did recently). At th moment, a sorter dev need to make 2 PR (one here and one in SF).

@magland : is it something simple

[2019-07-11 11:21] magland commented on #42
I agree that it is better to have the Dockerfile in the same location as the sorter. But it requires discussion on how to exactly do it.

[2019-07-11 11:22] magland commented on #17
Yes. Closing.

[2019-07-11 11:22] #17 closed

[2019-07-11 11:22] magland commented on #14
Yes. Closing.

[2019-07-11 11:22] #14 closed

[2019-07-16 09:08] alejoe91 commented on #10
@samuelgarcia do you have time to propagate the ShellScript to klusta, spyking-circus, kilosort, and kilosort2?

[2019-07-16 09:57] samuelgarcia commented on #10
@alejoe91 : not in July. I am in holiday in august, I can do it ilate august or early setptember.
there is not urgency.

[2019-07-16 10:13] alejoe91 commented on #10
ok :+1: I think I can work on it in September as well :)

[2019-07-30 00:56] nahawtho opened #47 "MS4 does not recieve sampling rate from recording extractor"
It does not seem like MS4 inherits sampling frequency in the same way Klusta does:
`---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
<ipython-input-73-d7750f034091> in <module>
----> 1 sw.plot_rasters(sorting_MS4)

~/.local/lib/python3.6/site-packages/spikewidgets/widgets/rasterswidget/rasterswid

[2019-07-30 06:55] alejoe91 commented on #47
Hi,

Did you run MS4 with `sorters.run_mountainsort4` ?
In that case it sould inherit the sampling_frequqncy (https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/basesorter.py#L167).
If it doesn't, then it's a bug :)

Unfortunately, MS4 format does not carry fs info. For the other sorters this can be loaded from the sorter extractror directly.

If you are using the class `Mount

[2019-07-30 20:34] mhhennig opened #48 "Sampling frequencies stored differently"
Came across this when attempting to compare KS2, HS2 and SC.

This here:

`SX_ks2.get_sampling_frequency(),SX_hs.get_sampling_frequency(), SX_sc.get_sampling_frequency()`

yields

`(23199.09, 23199.090358491783, 23199.090358491783)`

Slightly pathological, but In Biocam recordings the sampling rate can be like this. The KS2 has rounded it. How to fix this...?

[2019-08-28 17:48] mhhennig commented on #47
I actually observed that too, will see if I can find out what happens...

[2019-08-29 09:12] alejoe91 commented on #47
@mhhennig if you use the class approach, then you need to manually `sorting.set_sampling_frequency` for MS4, because the MDA format does not have that info. If you use the launcher, this is done automatically for all sorters: the sampling_frequency is copied from the recording extractor.

[2019-08-29 10:34] samuelgarcia commented on #47
Maybe our wrapper could write a txt/json fil into the MS4 folder to make it automatically.
No ?

[2019-08-29 12:11] alejoe91 commented on #47
we discussed about it with @magland and he wouldn't want to change the format. I don't think this is a big issue. Most of the times one would use `run_mountainsort4` and in that case the sampling frequency is loaded

[2019-09-03 08:56] alejoe91 commented on #13
@ferchaure any update on this? Let us know if you need help. We can port the spikeforest version to start with. What do you think?

[2019-09-03 08:57] alejoe91 commented on #11
Hi @jinhyunglee

Any update on this? :)

[2019-09-03 13:58] ferchaure commented on #13
Yes, that will be nice, I think that port is good enough.

[2019-09-03 19:53] jinhyunglee commented on #11
Hi Alessio,
sorry for the delay.
There are few more updates coming for yass but I think we are in a good shape for sharing it.

One problem is that yass evolved too much and now it requires gpu and cuda to run.
Do you think it is okay?

[2019-09-03 19:58] alejoe91 commented on #11
Hi @jinhyunglee

That's totally fine! We are updating the docs now so it's the perfect time to have an install guide for all sorters.

[2019-09-17 19:31] alejoe91 commented on #35
I moved this to a utils folder

[2019-09-17 19:32] alejoe91 commented on #13
https://github.com/SpikeInterface/spikesorters/pull/53

[2019-09-17 19:33] alejoe91 commented on #10
now both CLI and Matlab sorters use ShellScript. Can I close this?

[2019-09-17 19:35] samuelgarcia commented on #10
I think yes.

[2019-09-17 19:39] #10 closed

[2019-09-17 19:40] alejoe91 commented on #28
@magland

[2019-09-18 09:54] Shawn-Guo-CN opened #56 "TrideSclous results may contain empty array"
When running TrideSclous sorter on dataset from tutorial, I found that the results contain empty numpy array and thus cause value error in line 845 of Spiketools.postprocessing.postprocessing_tools.py (function: _get_random_spike_waveforms).

Fix todo:
1. append a value checker at line 53 in sorterlist.py (function: run_sorter) to remove empty units.

[2019-09-18 10:18] samuelgarcia commented on #56
Thanks.
I think a spiketrain with no spike is a valid situation.
When we get waveforms from this it should return an array with shape (0, numchan, numsample).
I think it is a better approach to just the remove the empty units.

[2019-09-18 13:17] Shawn-Guo-CN commented on #56
Update another potential effect of the empty array:

it may cause a value error in line 291, SpikeComparison\comparisiontools.py (function: make_best_match), as np.argmax() is called at that line.

The traceback is:
[code]

[2019-09-18 13:22] alejoe91 commented on #56
I just ran into the same error in spikecomparison. I think we should deal with it at the spikesorters level. Are there no units at all?

[2019-09-18 13:22] alejoe91 commented on #56
(try to upgrade tridesclous to the latest version as well - 1.2.2)

[2019-09-18 13:26] Shawn-Guo-CN commented on #56
Yep, shape of spike train from the corresponding unit is (0, 16, 96).

[2019-09-18 18:33] samuelgarcia commented on #56
I really think it is a bad approach.
A sorter could find a cluster and then if template matching could find no spike at all in this cluster for other reasons. They should not be remove we could bias comparison we must consolidate our code.
We already have tools to clean this case I don't think we must impose it at run sorter level.

[2019-09-23 15:53] Shawn-Guo-CN opened #57 "Path problem for Windows"
There are lots of path strings among different sorters, e.g. cmd strings in *klusta* and *spyking_circus*, and the path string are all in **UNIX** style and thus would break on Windows.

[2019-09-23 16:04] alejoe91 commented on #57
where are the path strings in klusta and SC? I think we use pathlib in all sorters to avoid this

[2019-09-23 16:05] Shawn-Guo-CN commented on #57
My bad, you're right. The file path style is correct. The bug is caused by other things.

[2019-09-23 16:05] #57 closed

[2019-09-24 10:23] Shawn-Guo-CN opened #59 "Temporary folder names conflict when running same sorter multiple times in a script."
When I try to run a same sorter, e.g. tridesclous, in a python script, the programme would crash because that 2 different instances of a same sorter would use the same **Temporary Folder** and the lock of files wouldn't be released until the end of main process. Thus, it becomes impossible to run a sorter with several different hyperparameter settings.

[2019-09-24 10:28] samuelgarcia commented on #59
If you run several instance in parralel you have to force **output_folder** by hand because it is None by deafult and None is translated to ```output_folder = 'tmp_' + self.sorter_name``` in basesorter.

[2019-09-24 10:35] Shawn-Guo-CN commented on #59
I was wondering, maybe we could add a timestamp as a postifx of tmp folder names?

[2019-09-24 10:40] samuelgarcia commented on #59
For the normal case, I don't like it so much.
It is cool a a naive user to see that a folder with the name of the sorter have been create.
I think for more expert user playing with the argument output_folder is quite easy.
In your case for parameters search I would modify this folder according to the paramters values for instance.

[2019-09-24 10:47] Shawn-Guo-CN commented on #59
Yep, what you state definitely holds. Then, we need to change the codes in [Getting Started tutorial](https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html), as the mountainsort4 runs 2 times in it.

[2019-09-24 10:54] samuelgarcia commented on #59
In the context of this getting start, I think it is OK to simplify and not give too much details (about ouput_folder for intance). The 2 times are to illustrate that we can change parameters.
To avoid confucion in this example we should sorting_MS4 2 times as output.

@alejoe91 : what do you think ?

[2019-09-24 11:06] Shawn-Guo-CN commented on #59
I just worry that it may confuse users if the example script crashes.

[2019-09-24 11:13] Shawn-Guo-CN commented on #59
Is the [Getting Started tutorial](https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html) based on out-of-date version? The output of second `run_mountainsort4` is `/tmp/tmpqdf1b_0j/timeseries.hdf5`.

[2019-09-25 14:27] Shawn-Guo-CN commented on #59
After checking file operations in our project, I believe that it is more possible that this problem is caused by sorters themselves. I'm checking the subprocess operations, to see how/where to kill the subprocesses in our programmes.

[2019-09-25 15:06] Shawn-Guo-CN commented on #59
Now, I got it. It's the permission problem on Win... We just don't have full I/O priviledge on files created by ourselves...

[2019-09-29 16:25] colehurwitz opened #60 "Spike sorters that require locations should fail without them"
It would be nice to have this behaviour in the wrappers. We could put a boolean for this in the basesorter that is set at a subclass level.

[2019-09-29 18:54] colehurwitz commented on #60
#61

[2019-09-29 18:54] #60 closed

[2019-09-29 19:16] colehurwitz opened #62 "Mountainsort4 timeout on tests"
Mountainsort4 seems to be having some performance issues so much so that it times out on our travis tests. Maybe this can be fixed? @magland @alejoe91

[2019-09-29 19:20] alejoe91 commented on #62
You mean that it's slow?

[2019-09-29 19:37] colehurwitz commented on #62
Yeah, it always times out since it is slow.

[2019-09-29 19:41] alejoe91 commented on #62
It's strange because it only times out sometimes..

[2019-09-30 07:54] samuelgarcia commented on #62
On which dataset ?

[2019-09-30 13:14] magland commented on #62
Strange. Could you tell exactly which dataset it is having trouble with?
J

On Mon, Sep 30, 2019 at 3:54 AM Garcia Samuel <notifications@github.com>
wrote:

[2019-09-30 17:34] colehurwitz commented on #62
It usually times out on the third test:

[2019-10-01 12:12] samuelgarcia commented on #48
@mhhennig : normally the GroundTruthComparison is robust if the sampling rate is not extactly the same across sorters.
Have you tested this ?
https://github.com/SpikeInterface/spikecomparison/blob/master/spikecomparison/basecomparison.py#L33

[2019-10-01 16:46] colehurwitz opened #63 "Sorters that require locations"
I think it would be great to document which sorters _require_ locations. Right now, it seems like HerdingSpikes2 and Ironclust will fail without locations. Are there other sorters for which we should indicate that it _requires_ locations? @samuelgarcia @alejoe91

[2019-10-01 18:52] samuelgarcia commented on #63
tridesclous normally do not need location because a fake one is generate.
But this is bad I think tridesclous shoudl also require location at wrapper level.

[2019-10-01 19:02] colehurwitz commented on #63
Ok, if you want to change that, could you make a PR for tridesclous which turns the `requires_locations` bool to `False`?

[2019-10-02 18:17] Shawn-Guo-CN commented on #59
I just realised that this issue is bigger and more serious than I thought before. On Windows, when we run some sorters, the temporary folders won't be removed even we set the "delete_output_folder" flag to be `True`.

The cause of this issue is that the temporary folder keeps being accessed by some sub-processes (which I don't know who they are) as well as they are read-only for user account.

It

[2019-10-02 18:23] alejoe91 commented on #59
Hi @Shawn-Guo-CN I don't really know what we can do about this, rather then adding try except everytime we try to delete a folder.

Which folder are you using? Are you trying to spike sort in parallel?

[2019-10-02 18:28] Shawn-Guo-CN commented on #59
Hi @alejoe91 , I'll try to find a solution for this issue. I just want to leave it here to remind myself.

I use the standard tmp folder, e.g. 'tmp_klusta', and I run just one sorter. But the BaseSorter cannot remove the tmporary folder. It's caused by Windows file privilege management strategy, I'm still looking for a feasible solution.

[2019-10-02 18:39] Shawn-Guo-CN opened #64 "Check the validity of parameter values before running sorters."
Currently (v0.1.8), the validity of values of parameters for running a sorter haven't been checked. For example, users could set `freq_min` to `-6000.0` and set `freq_max` to `-9000.0`, and they will be acceptted as a valid parameter setting. Then, errors will raise when we actually run the sorters.

This is different from issue #19 , as that one is to chech the 'name' of parameters, and this one

[2019-10-02 19:09] alejoe91 commented on #64
I agree we should add some checks!

[2019-10-03 11:32] samuelgarcia commented on #62
Hi I experience the same problem with MS4.

On my mahcine I am not able to build gallery example for instance **plot_1_compare_two_sorters.py** is blocking for always.

[2019-10-03 11:36] samuelgarcia commented on #62
Note clone from matser of ml_ms4alg do not solve the problem.

[2019-10-03 11:37] samuelgarcia commented on #62
@magland : could you try to run
[code]
and tell me if it works for you.

I think this prevent the release because doc can't build.
No ?

[2019-10-03 13:04] colehurwitz opened #65 "Add random seed params to sorters that are random"
It has been brought to my knowledge by @Shawn-Guo-CN  that some sorters (like Klusta) have inherent randomness.

When I looked into klusta, they have a param for random seeding: https://github.com/klusta-team/klustakwik --> RandomSeed	1

[2019-10-03 13:04] colehurwitz commented on #65
@alejoe91 @samuelgarcia

[2019-11-07 14:02] alejoe91 opened #73 "Tridesclous doesn't work when several channel groups are present and spike sorting is not done by group."
@samuelgarcia

running
`sorting_tdc = sorters.run_tridesclous(recording)` gives this error when the recording has different channel groups:

[code]

TDC version: 1.2.2

Any idea why this happens? is it a TDC or a spikesorters problem? Seems to be coming from `dataio`

[2019-11-07 14:02] alejoe91 commented on #73
Same error on ubuntu, macOS, and Windows

[2019-11-07 14:08] samuelgarcia commented on #73
I will try to have a look.
But normally the multi group is handle inside BaseSorter by splitting the recording into sevral pieces.
And there a unitest for that.
Is it a differents scenario than the test ? If yes could you write the test ?

Are you using tridesclous for real ?

[2019-11-07 14:09] samuelgarcia commented on #73
OK I anderstand.
It is in fact running the bug arrive when retrieving the data. No ?

[2019-11-07 14:13] alejoe91 commented on #73
Yes I think so! I'm presenting SI at a workshop and we ran into the issue. TDC runs fine but it's the data retrieval that fails

[2019-11-08 08:58] samuelgarcia commented on #73
OK I anderstand the situation.
For this I need to make a very little patch in tridesclous but infortunatly tridesclous is in the middle of a big big refactoring. So I can't make a release now.

What I propose is to make a uggly patch in spikextractor.tridesclous to fix this. It will more simple.
I then after a release of TDC remove that patch.

Is it OK ?

[2019-11-08 09:23] alejoe91 commented on #73
ok sounds good to me

[2019-11-08 09:40] samuelgarcia commented on #73
@alejoe91 : I don't anderstand something.
In our test **SorterCommonTestSuite.test_several_groups** that tdc already pass.
We have a **sorting = sorter.get_result()** so we should have the bug here too.
No ?
What is the difrrence with your case ?

[2019-11-08 16:28] samuelgarcia commented on #73
Dear Alessio,

It is a more general problem.
See https://github.com/SpikeInterface/spikeextractors/issues/296

In conclusion:
You should not stigmatize TDC for this bug but you should publically declared your gratitude to TDC because thanks to well internal protection, TDC made possible to discover a deep deep bug for a very very rare case.
:)
héhé.

Cheers.

[2019-11-15 08:20] McD-NMI opened #75 "Spike detection only?"
I was wondering if there is any possibility to run spike detection only with SpikeInterface, without doing any sorting. For example, if I only care about the whole network activity and not any individual unit.

[2019-11-21 08:52] alejoe91 commented on #75
Hi @McD-NMI

We can implement something like: `ss.detect_spikes(recording)` that just extracts and aligns the peaks channel-wise. Is that what you were thinking about?

[2019-11-21 08:52] #73 closed

[2019-11-21 08:53] alejoe91 commented on #63
@colehurwitz is this fixed?

[2019-11-21 08:55] alejoe91 commented on #42
@magland @samuelgarcia how should we do this exactly?

In my opinion, as the docker file is pretty small, we could add it in each spikesorter folder. Or we can have a docker folder in the github, so users would need to clone the repo or download the files. What do you guys think?

[2019-11-21 08:58] McDr commented on #75
Yes, exactly what I was thinking!

[2019-11-21 09:05] magland commented on #42
I think we would need to have a planning discussion. There are various possible approaches, and we'd want to choose the best way to do it.

[2019-11-21 09:22] alejoe91 commented on #75
I can implement a very simple detector (> n_snr * MAD) and maybe we can add some more sophisticated method later. Will make a PR soon :)

[2019-11-21 15:25] magland commented on #42
I am currently working on this over here:
https://github.com/spikodrome/examples/tree/master/sorters

And I think I'd like to move that into spikeforest eventually. We can also echo something in spikeinterface.

The approach I am pursuing is to do spike sorting from the command line and to use an AutoRecordingExtractor inside the container. The AutoRecordingExtractor auto-detects the type of the i

[2019-11-21 16:55] samuelgarcia commented on #42
Hi Jeremy.
If I anderstand correctly your are doing a magic CLI for some sorters, right ?

I think this could be done directly inside spikesorters, no ?
In spikodrome, there is another copy theses dockers files.
In my opinion docker files should be centralize somewehre.
And if possible, next to sorter wrapper :  in spikesorter subfolder.

[2019-11-21 17:19] magland commented on #42
I agree that everything should be in one place -- e.g., spikesorters. But there are various choices to be made, and I'm not at the stage where I have a clear idea of how it should go. For a first pass I am going to try to make CLI utilities that use AutoRecordingExtractor on the inside. The containerized sorters work on files, whereas the python sorters work on extractors.

[2019-11-21 21:43] mafrasiabi opened #76 "Process stuck in the pool"
Hi, recently I faced the doing nothing problem even with the toy data. I'm using ms4 with spikeinterface and have install it with pip (ml-ms4alg==0.3.2). When I stop the process via keyboard I can see that It's been stuck in the pool even though I set the num_workers to 1.

[2019-11-21 21:47] mafrasiabi commented on #62
even with a toy dataset it doesn't work for me and will stuck in a pool , even though I have put num_workers = 1

[2019-11-27 17:46] atranvan opened #78 "error running sorting tutorial with Klusta and Spyking Circus"
Hi,

I have just installed spikeinterface (pip install) on Ubuntu 16.04 in an Anaconda environment. I have also installed several sorters via pip and am running into an error when trying [this tutorial](https://spikeinterface.readthedocs.io/en/latest/modules/sorters/plot_1_sorters_example.html).

The sorters are correctly installed:
[code]

Output:
[code]

From those, only herdingspikes and moutai

[2019-11-27 21:07] alejoe91 commented on #78
Hi @atranvan

Are you running it from jupyter? Can you check the terminal output when running the sorters? You should get a lot of messages on what the spike sorting is doing. That should be quite informative on what the problem is :)

[2019-11-28 10:40] atranvan commented on #78
Hi Alessio,

thanks for the quick reply. Indeed this is from Jupyter. Weirdly I do not get the same behaviour in a Python console.

From Jupyter, the terminal output is:

[code]

or

[code]

Strangely, from a Python console, in the same conda environment, Klusta runs fine.
With Spyking circus, I had an error that I could solve by installing PyQt5.

Do you have any idea why the code does not work f

[2019-11-28 11:15] atranvan commented on #78
Hey,

actually I realized this is because the path from the notebook was wrong (I was using my base jupyter instead of the environment jupyter)... It all works now, Thanks for the pointers!

Cheers,
Alex

[2019-11-28 11:15] #78 closed

[2019-11-28 11:51] alejoe91 commented on #78
Hi @atranvan

Good to hear that it's fixed!

[2019-11-28 11:52] alejoe91 commented on #76
Hi @mafrasiabi

Maybe @magland can help. We experience the same problem sometimes but we were not able to track it down

[2019-12-03 12:22] alejoe91 commented on #75
@McD-NMI @McDr you can test this https://github.com/SpikeInterface/spikesorters/pull/77

We are still debating on whether this should be in spiksorters or spiketoolkit, but it should work :)

[2019-12-03 14:34] magland commented on #75
@alejoe91 I thought about this further and would propose to make a namespace of spiketoolkit called sorting (going along with preprocessing, etc). It is reserved for general methods related to parts of spike sorting. The spikesorters repo would be reserved for complete spike sorting algorithms.

[2019-12-03 14:49] samuelgarcia commented on #75
Yes. Agree with jeremy.

Le mar. 3 déc. 2019 15:34, Jeremy Magland <notifications@github.com> a
écrit :

[2019-12-06 04:49] subhacom opened #82 "Feature request: additional parameters for Tridesclous"
The tridesclous interface does not allow parameters that are specific to a particular algorithms: for example epsilon for DBSCAN. Users can have better control on the sorting if these parameters are allowed.

[2019-12-06 05:50] alejoe91 commented on #82
@samuelgarcia Can take care of this :)

[2019-12-13 10:26] jofrony opened #83 "Kilosort2 - zero exit code"
Hi, I was setting up Kilosort2 in Spikeinterface and tried the [ tutorial ](https://spikeinterface.readthedocs.io/en/latest/modules/sorters/plot_1_sorters_example.html#change-sorter-parameters). When I ran it I got the error - 'kilosort2 returned a non-zero exit code'. I was wondering if the issue lies in the:

matlab -nosplash -nodisplay -wait -r kilosort2_master

which is run for the sorting.
I

[2019-12-13 10:37] samuelgarcia commented on #83
HI.
thank you for the report.
Are you able to run kilosort with spiekinterface ?
You also need to install cudan some matlab toolbox.
And run inside matlab the CUDA/mexGPUall.m of kilosort2.

[2019-12-15 17:57] mhhennig commented on #83
I've seen this, the `gpuArray` error shows up when there is some issue with the GPU, in particular with memory. On an old NVIDIA card I get this even for small files as the GPU memory is too small. As Sam suggested, best see if you can run KS2 dirctly. I suspect it will fail in the same way.

[2020-01-06 13:58] benefron opened #86 "Tridesclous"
Hello,
I installed the tridesclous sorter but it does not appear in my installed sorters, and when I ran it I am asked to install it.
I restarted the kernel but still it doesn't appear even though it says the installation was successful.
I am also having trouble installing SpykingCircus even though my system is cleaned and only spikeinterface has been installed after installing anaconda.
"  Succes

[2020-01-06 14:00] samuelgarcia commented on #86
What happen when you do
```tdc```
in a console ?

[2020-01-06 14:03] benefron commented on #86
I get this error:
"ModuleNotFoundError: No module named 'hdbscan'"

[2020-01-06 14:12] samuelgarcia commented on #86
you need to do
conda install -c conda-forge hdbscan

or
pip install hdbscan

see
https://tridesclous.readthedocs.io/en/latest/installation.html

[2020-01-06 14:27] benefron commented on #86
Thank you,
this worked.
another issue
When I ran herdingspikes it starts running but then restarts my kernel

[2020-01-06 14:27] samuelgarcia commented on #86
ask to Cole or Matthias
@colehurwitz @mhhennig

[2020-01-07 08:45] benefron opened #87 "Wave clus"
I ran the wave clus sorter and I get the following exception:
"Exception: Cannot write script. No path specified"

I specified a path for the sorter at the beginning of the script as follows:
"sorters.WaveClusSorter.set_waveclus_path(r'C:\Users\lampllab\Documents\sorters\wave_clus')"

And I run the sorter as follows:
"sorting_WC = sorters.run_waveclus(recording=recording_cmr)"

for kilosort2 and i

[2020-01-07 08:49] alejoe91 commented on #87
Hi @benefron
Can you try a `pip install --upgrade spikesorters`?

There was a bug in the code :) That should fix it!

[2020-01-07 08:50] benefron opened #88 "Klusta"
I get the following exception when running klusta:

"Exception: klusta returned a non-zero exit code"

How can I debug it? I ran it on different open ephys recordings that I have.

Thank you ,
Ben

[2020-01-07 09:06] alejoe91 commented on #88
Hi,

Can you give us more info? What OS are you using? How did you install klusta? Are you running from a notebook?

In case you are running from a notebook, you should see the klusta output in the terminal attached. That should give more information

[2020-01-07 09:12] benefron commented on #88
I am using Windows I used pip install to install klusta .
I am new to python so I am not sure how to run from note book and get the klusta output.
It ran before but I had trouble with the anaconda and I reinstalled everything.
i will try to reinstall klusta and see if it works.
Thanks,
Ben

[2020-01-07 09:40] benefron commented on #88
I reinstalled klusta from the installation instructions in https://github.com/kwikteam/klusta and now I get the following:
TypeError: save_to_probe_file() got an unexpected keyword argument 'grouping_property'
I get the same mistake for tridesclous

[2020-01-07 10:47] benefron commented on #87
Now Wave clus runs
But, I get only electrodes 1-31 for wave clus. it doesn't get electrode 0. maybe because matlab starts with 1?
i get only 31 electrodes in total instead of 32.

[2020-01-07 10:51] alejoe91 commented on #87
If you are running the code I posted on spiketoolkit there was a missing channel in the common reference groups (I think channel 10). That's probably why you get 31 channels

[2020-01-07 10:55] benefron commented on #87
OK.
I see it.
You know that it runs really really slow compared to the other algorithms? Is it the way it works or did I need to change something?
Thanks,
Ben

[2020-01-07 11:01] alejoe91 commented on #87
That's normal. WC was designed for single electrodes or a few channel max. You can test which sorters suits your data best!

[2020-01-07 11:05] benefron commented on #87
OK
I'll close the issue

[2020-01-07 11:05] #87 closed

[2020-01-07 11:07] alejoe91 commented on #88
Can you paste the code you are running?
@samuelgarcia can you look into this?

[2020-01-07 11:10] benefron commented on #88
import os
import spikeinterface as si
import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as sorters
import spikeinterface.comparison as sc
import spikeinterface.widgets as sw
import matplotlib.pylab as plt
import numpy as np

sorters.WaveClusSorter.set_waveclus_path(r'C:\Users\lampllab\Documents\sorters\wave_clus')

sorters.IronClustSorter.set_

[2020-01-07 11:15] alejoe91 commented on #88
I see. I think you just need to upgrade spikeextractors:
pip install --upgrade spikeextractors

This is due to some compatibility issues with new versions of the single packages and the versions installed with the spikeinterface package.

We'll make a new release with many fixes soon

[2020-01-07 11:52] benefron commented on #88
So now tridesclous runs but I get the original problem I had with klusta:

Traceback (most recent call last):

  File "<ipython-input-5-3f93f91bb4fe>", line 5, in <module>
    sorting_KL = sorters.run_klusta(recording=recording_cmr)

  File "C:\ProgramData\Anaconda3\lib\site-packages\spikesorters\sorterlist.py", line 102, in run_klusta
    return run_sorter('klusta', *args, **kargs)

  File "C:\Pr

[2020-01-07 12:46] samuelgarcia commented on #88
Hi.
could you do
```sorting_KL = sorters.run_klusta(recording=recording_cmr, verbose=True)```

[2020-01-07 12:59] benefron commented on #88
Did not work.
Should I uninstall and reinstall klusta?

[2020-01-07 13:01] samuelgarcia commented on #88
Of course but do you have a longer error message ?

[2020-01-07 13:02] benefron commented on #88
no the same

[2020-01-07 13:03] samuelgarcia commented on #88
oups.
There must be a bug in the wrapper.
I will have a look soon.
Does klusta work independently of spikeinterface ?
Wht happen if you do "klusta" in  a console ?

[2020-01-07 13:05] benefron commented on #88
I get two blank terminals popping and dissapearing and that it

[2020-01-08 13:41] benefron commented on #86
It is working now after updating the sorters
Thanks

[2020-01-15 17:06] MarineChap opened #90 "send the sorting step in a separate servor"
Dear,
Except, I am wrong, I did not see any possibility during the spike interface workflow and furthermore to run the spike sorting part in a separate cluster. To run multiple sorter, you need to run it with separate GPU right? How do you manage to do it?

Do you think it could be an interesting feature to be able to send slurm job in a specific cluster when we arrive at this step ? And then, dow

[2020-01-15 17:08] colehurwitz commented on #90
For you actual question, as you mentioned, we don't have any cluster support in spikesorters as of this moment. However, the [spikeforest](https://github.com/flatironinstitute/spikeforest2) project (which interfaces with spiketoolkit) has developed containers for each of the spikesorters and deploys them using slurm. We haven't made this a part of our workflow yet, but there is some work being don

[2020-01-15 19:37] samuelgarcia commented on #90
Hi @MarineChap Marine,
I plan to implement launcher with dask python module (and so slurm!) since some month but did not find time to do it.

The main think that prevent this is the ability to serialize "recordings" and so send then in task queue.
See https://github.com/SpikeInterface/spikeextractors/issues/214.

Then the implementation should be quite easy and must be done here:
https://github.co

[2020-01-15 21:36] MarineChap commented on #90
Hi Samuel and Cole ! Thanks you for your answers and sorry for the wrong location. Indeed I would be happy to help. Except it could take some time for me to understand how everything is interacting and what to do ^^
At least, I can fork and open a PR to start working on it. Is that okay for you?

[2020-01-17 12:46] colehurwitz commented on #90
Forking and opening a PR is good for me! The dask module and spikeforest2 machinery are different solutions to the same problem. We have worked together in the past on integration, but I think these would remain separate.

I am not sure whether @samuelgarcia would want to support different kinds of clusters, but it seems like slurm is a good starting point. @samuelgarcia ?

[2020-01-23 13:45] mhhennig opened #92 "Chunking required for SSMdaRecordingExtractor and write_to_binary_dat_format"
Some sorters use the internal `SSMdaRecordingExtractor` or `write_to_binary_dat_format` to write out raw data for sorting. There is no chunking, the whole raw data is read in one go. This causes memory errors.

Sorters affected are Ironclust and Kilosort2 (maybe others?)

[2020-01-23 13:58] alejoe91 commented on #92
I think we could add in `write_to_binary_dat_format` an automatic chunking based on available RAM. Should not take too much!

For the `SSMdaRecordingExtractor` we could do something similar (maybe @magland has some code already). Or we could convert the sorters that use `SSMdaRecordingExtractor` to use a dat file. In the long run I vote for the latter option.

[2020-01-23 17:23] samuelgarcia commented on #92
write_to_binary_dat_format have a **chunk_size** kargs.
I implemented it.
It was for KS, KS2, klusta and TDC.
It has disappear for KS and KS2 but I don't known when.
We need to check the history.

[2020-01-27 16:01] alejoe91 commented on #92
Hi @jamesjun

We are experiencing memory issues with the ironclust wrapper when sorting large datasets as the SSMdaRecordingExtractor attempts to write the entire dataset at once (and in doing so to load it in memory): https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/ironclust/ironclust.py#L130

In spikeextractors, we have a [write binary function](https://github.com/SpikeIn

[2020-01-27 16:54] jamesjun commented on #92
Ironclust can directly load from MDA format. Please refer to the spikeforest2 wrapper on how I implemented it.

-James

[2020-01-27 20:02] mhhennig commented on #92
Hi @jamesjun

This has the same problem, it'd not chunked. On line 105 in

https://github.com/flatironinstitute/spikeforest2/blob/555e9057111c52da826bf4ad559ddef3d9a57c51/spikeforest2_utils/autoextractors/mdaextractors/mdaextractors.py#L97

you just use `raw = recording.get_traces()`. For a large file (like the one I have, 220GB) this will not fit in memory.

Does Ironclust only read mda?

[2020-01-28 07:59] alejoe91 commented on #92
I think that we could do 2 things here:

1. have ironcludt load binary data directly
2. add chunking to the SSMdaRecordingExtractor / MdaRecordingExtractor

I think that solution 2 is probably the most straightforward. Do you guys agree?

[2020-01-28 12:51] jamesjun commented on #92
IronClust can load binary files natively but the autoextractor converts to mda format. we need to bypass that. Internally ironclust processes in chunks of half a gigabyte in memory in float32 format. i will have a look how to bypass autoextractor if the format is already in binary.

-James

[2020-01-29 15:56] colehurwitz commented on #75
I agree as well (sorry for the slow reply)

[2020-01-29 16:00] alejoe91 commented on #75
:+1:  I'll move it!

[2020-01-29 16:06] samuelgarcia commented on #75
Alessio, normally you convince every one in each debate but not this time.
You must be tired
 :)

[2020-01-29 16:23] alejoe91 commented on #75
Ahahaha I agree with the group :)

[2020-01-29 16:26] alejoe91 commented on #75
moved here: https://github.com/SpikeInterface/spiketoolkit/pull/292

[2020-01-29 16:26] #75 closed

[2020-02-05 09:11] MarineChap commented on #90
Hello everyone, Just to keep you posted, I had to close some other projects before starting on this, so I am only beginning to work on it now.

[2020-02-05 09:21] samuelgarcia commented on #90
Hi Marine,
Alessio have started to serialize extractors here : https://github.com/SpikeInterface/spikeextractors/pull/316

I have started somerefactoring of sorter here : https://github.com/SpikeInterface/spikesorters/pull/93

When theses PR will be finish, I will start some draft in spikesorter launcher for distributing computation. It should be quite soon.

[2020-02-05 09:22] MarineChap commented on #90
Oh! Even better! Sorry for not have been helpful :) but happy you found the time to work on it.

[2020-02-09 11:25] benefron opened #94 "Running matlab based sorters"
Hi,
I am having trouble when running matlab based sorters (specifically in kilosort2) when the specified working directory is on a drive different than C:\\. I need to be able to work and save to a directory that is not C:.
the working folder is created but matlab is not going to that folder.
Thanks,
Ben

[2020-02-09 11:32] alejoe91 commented on #94
Hi @benefron

I think the issue is that in Windows, the command to change to another drive is not `cd`, but `pushd`.
Can't you run the script from the other drive?

Alessio

[2020-02-09 11:34] benefron commented on #94
The script is running from the other drive.
The problem is both in Linux and Windows.
The problem is the directory it is tuning the shell script from is not in the same location

[2020-02-09 11:37] alejoe91 commented on #94
Are you using the latest `spikesorters`? Can you write a minimal example to reproduce this error?

[2020-02-09 11:47] benefron commented on #94
I updated it today.
I am running spikesorters 0.2.2

The code I am running:
sorters.Kilosort2Sorter.set_kilosort2_path(r'Y:/befron/Kilosort2')
sorting_output = sorters.run_sorters(['kilosort2'], [recording_1_cmr], working_folder=r'Y:/befron/Data/ION/23_01_20/1681')
output in python:
sorters.Kilosort2Sorter.set_kilosort2_path(r'Y:/befron/Kilosort2')
WARNING! The recording contains group. In order t

[2020-02-09 12:19] benefron commented on #94
I added a line to change the working folder in my pipline
it seems to solve the problem
Thanks

[2020-02-09 12:19] #94 closed

[2020-02-10 13:17] benefron opened #95 "Code continue running while multiprocessing"
Hi,
I am running the following code:
sorters.run_sorters(['ironclust','herdingspikes','klusta'], [recording_1_cmr], working_folder=r'/home/labs/lampllab/befron/Data/ION/23_01_20/1372',engine='multiprocessing')

and after I have more code that is dependent on all the outcomes from the run.sorters

But the code continues running before all sorters are finished running

Thanks,
Ben

[2020-02-10 13:29] samuelgarcia commented on #95
Oups.
This is a bug.
I will have a look.
I code this engine but never totally used it because you need lots of memory and finallyy prefer the loop engine.

[2020-02-10 13:36] benefron commented on #95
Yes I am running it on a cluster so it seemed preferable.

[2020-02-12 12:13] warnerwarner opened #96 "Kilosort2 parameters not passed on"
When calling the Kilosort2 sorter either with run_sorter or run_Kilosort2 any additional parameter changes dont seem to be passed onto the sorter. In the kilosort_config.m file generate they all remain the same?

[2020-02-12 15:00] warnerwarner commented on #96
Should of been more specific, its the minFR parameter in particular, and looking at the kilosort_config.m template file I dont think minFR is being used, rather the default 0.1 is

[2020-02-12 15:22] alejoe91 commented on #96
Hi @warnerwarner

There are actually 2 parameters: `minFR` and `minfr_goodchannels`.
The former is used during the template matching phase (templates are dropped if the firing rate is less than `minFR`). The former instead filters out bad channels (channels in which the rate of detected waveforms is less than `minfr_goodchannels`).

I think that the `minFR` option is correctly set. What we can do

[2020-02-12 15:51] warnerwarner commented on #96
Yes, you're right! My mistake, I misread the variable. If that could be opened up that'd be really great.

Thanks!

[2020-02-12 16:03] alejoe91 commented on #96
Sure! A PR is coming :)

[2020-02-12 16:08] alejoe91 commented on #96
Can you test this? https://github.com/SpikeInterface/spikesorters/pull/97

[2020-02-12 16:09] alejoe91 opened #98 "Kilosort2 should have an option to return only good units or not"
This is problematic at the moment because it's an extractor option, but it should be implemented!

Currently, by default, it returns only 'good' units

[2020-02-12 16:34] warnerwarner commented on #96
Works perfectly thank you!

[2020-02-12 16:34] #96 closed

[2020-02-17 12:55] alejoe91 commented on #88
@benefron did you get further in properly installing klusta? How did you install it?

Can you try to reinstall it using these instructions: https://spikeinterface.readthedocs.io/en/latest/sortersinfo.html

[2020-02-17 13:05] benefron commented on #88
Klusta is running for me on the cluster, didn't check it on my desktop recently.
I am having trouble running matlab based sorters on a cluster. But it might be on my end.

[2020-02-17 13:39] alejoe91 commented on #88
ok, I'll close this then

[2020-02-17 13:39] #88 closed

[2020-02-20 09:31] #86 closed

[2020-02-20 09:32] benefron commented on #95
Another issue I am encountering while trying to run in multiprocessing engine is that I get an error that it cannot do the multi processing for processes larger than 4Gib

[2020-02-20 14:19] gmaggi opened #101 "pass minfr_goodchannels@KiloSort2 to ss.run_kilosort2"
Hi,

I am trying to pass **minfr_goodchannels** to `ss.run_kilosort2` function (no GUI), but this throws an error: "Bad parameters"
Apparently, the error comes from here: https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/basesorter.py#L106
This seems to check whether the parameter-key is in the default param-dict, but as this does not find it, it crashes. And indeed, the defa

[2020-02-20 14:44] alejoe91 commented on #101
Hi! You should install spikesorterd from master. We will make a new release soon :)

[2020-02-20 15:10] gmaggi commented on #101
Thanks for the prompt reply!
Just to make sure, should I wait for the new release, or the current master already solve my issue?

[2020-02-20 15:31] alejoe91 commented on #101
Already fixed in master :) so you should install from source

[2020-02-24 12:52] alejoe91 commented on #101
@gmaggi we'll make a new release probably tomorrow :)

[2020-02-24 12:53] alejoe91 commented on #98
I think that by default all units should be returned. Note that the KSlabel is loaded as a property by the extractor, so it is super easy to filter out good units later.

The default value for the extractor should be False.

[2020-02-24 13:15] alejoe91 commented on #92
Changed the write mechanism of the basic MdaRecordingExtractor. Now both IC and WC use the extractor from SE.

See:
https://github.com/SpikeInterface/spikesorters/pull/106

and
https://github.com/SpikeInterface/spikeextractors/pull/325

[2020-02-24 13:15] #92 closed

[2020-02-24 13:16] alejoe91 commented on #82
@samuelgarcia ?

[2020-02-24 13:16] #4 closed

[2020-02-24 13:17] alejoe91 commented on #35
Now moved everything to SE and added chunk mechanism to the standard MdaRecordingExtractor.
The only mdaio needed and kept are the matlab ones

[2020-02-24 13:17] #35 closed

[2020-02-24 13:19] alejoe91 commented on #47
This is fixed now

[2020-02-24 13:19] #47 closed

[2020-02-24 13:21] alejoe91 commented on #98
https://github.com/SpikeInterface/spikeextractors/pull/329

[2020-02-24 13:24] alejoe91 commented on #29
now the extractor is only modified at the base extractor level. I think this is the correct approach. There is no harm in adding dummy locations so that sorters can run.

[2020-02-24 13:31] samuelgarcia commented on #82
I will do it.

[2020-02-25 13:27] nerf-common commented on #101
Thanks for the note @alejoe91 !
Another remark, this time is about KiloSort(**1**).

It seems to me that Nfilt can not be passed to the params in https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort/kilosort.py#L30

If there is a way, let me know please.

If there is no a current way, it would be convenient perhaps to include it in the dic-parameters. As it is a paramet

[2020-02-25 13:29] gmaggi commented on #101
Thanks for the note @alejoe91 !
Another remark, this time is about KiloSort(1).

It seems to me that Nfilt can not be passed to the params in https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort/kilosort.py#L30

If there is a way, let me know please.

If there is no a current way, it would be convenient perhaps to include it in the dic-parameters. As it is a parameter t

[2020-02-28 09:53] cagjony opened #112 "channel map convertion"
Hi,

I am using kilosort2 in spikeinterface with neuropixels data. I most of the time have different channel map ordering with different type of neuropixel probes. I can successfully convert neuropixels .meta file to JRclust probe file (.prb) or Kilosort (.mat) readable format with 3rd party solutions. I was wondering if spikeinterface has already a way to work with kilosort or JRclust channelmap

[2020-02-28 10:20] alejoe91 commented on #112
Hi @cagjony

How does the JRclust .prb file looks? You can load .prb files directly in spikeinterface, as shown in this tutorial: https://spikeinterface.readthedocs.io/en/latest/modules/extractors/plot_3_handle_probe_info.html#sphx-glr-modules-extractors-plot-3-handle-probe-info-py

Cheers
Alessio

[2020-02-28 10:21] alejoe91 commented on #112
Also note that if you are using the SpikeGLXRecordingExtractor, channel locations should be loaded automatically, as it uses the spikeglx API in the background (I haven't fully tested this yet, though)

[2020-02-28 10:23] alejoe91 commented on #112
I see from [here](https://github.com/JaneliaSciComp/JRCLUST/wiki/Probe-file) that the JRclust is .prb file is a MATLAB file. We could add a converter that parses that kind of file to python.

Would you mind sending me the JRclust .prb file and the kilosort .mat file?

Thanks for bringing this up!

[2020-02-28 10:44] cagjony commented on #112
Hi,

You can find them from enclosed attachments. I did not know about SpikeGLXRecordingExtractor. Thanks for the info. We are definitely going to check that one as well.

 In addition, do you have any solution regarding multiprobe recordings? Currently, we record from many probes simultaneously and sort them independently. If you have some ideas/ways to batch sort both probes from the same record

[2020-02-28 11:23] cagjony commented on #112
Kilosort2 channel map file is working properly as uploaded. However, attached jrclust file is a txt file that I use to create matlab jrclust .prb file.

At this point, if you might have a chance to run spikeinterface by using kilosort2 channel map file. I will be very appreciated.

Thanks in advance,

Cagatay

[2020-03-15 17:07] BMT01 opened #118 "run_mountainsort4() ValueError"
Hello -

I have `ml_ms4alg`, `mountainlab_pytools`, `spikeextractors version 0.7.3` and `spikessorters version 0.2.5` installed.

I have multiple 3 channel x Nsample recordings I'd like to sort with mountainsort4. I am able to successfully load the recording with `MdaRecordingExtractor()` - all timeseries and parameters are successfully passed.

When I run `spikesorters.run_mountainsort4(recording

[2020-03-15 17:23] BMT01 commented on #118
as an update, I got this output from running `spikesorters.run_mountainsort4(recording, verbose=True)`:

[code]

[2020-03-15 17:45] alejoe91 commented on #118
Hi @BMT01

I think this migh be due to a wrong 'extraction' of the data. Is the original file format an mda folder?

If you load the data as: `rec = se.MdaRecordingExtractor('your-mda-folder')`, what is the output of:
[code]
?

You can also check if the signals look right with spikewidgets:
[code]

[2020-03-15 18:36] BMT01 commented on #118
Yes, the directory is an mda folder (raw.mda, params.json, geom.csv).

The output of the commands you suggested are correct:
`d3 36683088 (3, 36683088)`

The output looks good too:
![Screenshot from 2020-03-15 14-36-19](https://user-images.githubusercontent.com/29519133/76708057-e2677480-66eb-11ea-94e3-6f7064bc8c56.png)

[2020-03-15 18:45] alejoe91 commented on #118
Wow that is really strange. Would you mind sending me the mda folder in a zip? Are you using the latest version of ml_ms4alg?

Thanks again for bringing this up! Maybe @magland has some clues as well

[2020-03-15 18:48] alejoe91 commented on #118
what version of `spiketoolkit` do you have?
Can you try the following:
[code]
It might be a problem of whitening without filtering (note that filtering is not enabled by default for MS4)

[2020-03-15 19:12] BMT01 commented on #118
Hello -

My version of `spiketoolkit` is `0.5.2` and `ml_ms4alg` is `0.3.2`.

`ss.run_mountainsort4(rec, filter=True)` ran without any errors, `ss.run_mountainsort4(rec, filter=False)` produced the same error,
`ss.run_mountainsort4(rec, filter=False, whiten=False)` also ran without any errors.

So that idea (whitening without filtering producing the error) makes sense. I tried to set `filter=True`

[2020-03-15 19:47] alejoe91 commented on #118
You can pass parameters as arguments to the `run` function. You can get the parameters as a dictionary for each sorter as: `params = ss.get_default_params('sorter-name')` (e.g. 'mountainsort4').
Then you can change the parameters that you want (e.g. `params['filter'] = True`) and pass it back to the run function with: `sort = ss.run_mountainsort4(rec, **params)`.

Note that the `params.json` is un

[2020-03-15 21:27] BMT01 commented on #118
Ah, that's much clearer. Thanks!

[2020-03-19 13:57] MarineChap opened #120 "nfilter_factor parameter for Kilosort2"
Dear,
There is a reason that the nfilter_factor for Kilosort2 is fixed ?
One of my postdoc colleague would like to change it. Do you think it could be possible to expose it?

Thanks !
Marine

[2020-03-19 15:43] alejoe91 commented on #120
Hi @MarineChap

No particular reason! I will expose it and make a PR.
Is it called `ops.nfilter_factor`?

Cheers
Alessio

[2020-03-19 15:44] #12 closed

[2020-03-20 09:43] #118 closed

[2020-03-20 09:44] alejoe91 commented on #120
@MarineChap

https://github.com/SpikeInterface/spikesorters/pull/121

[2020-03-20 09:47] MarineChap commented on #120
That's was very fast! Thanks a lot !

[2020-03-20 09:55] #120 closed

[2020-03-20 09:55] alejoe91 commented on #101
https://github.com/SpikeInterface/spikesorters/pull/121

[2020-03-20 09:56] alejoe91 commented on #82
@samuelgarcia

[2020-03-20 09:57] alejoe91 commented on #5
@samuelgarcia is this implemented?

[2020-03-20 09:58] alejoe91 commented on #120
I'll merge in 2 minutes! As soon as tests pass

[2020-03-20 09:59] samuelgarcia commented on #5
Not yet.
Keep it open.

[2020-03-20 10:00] samuelgarcia commented on #82
Still planed but not priority, it is more complicated that it look because it is a nested dict and we decided to have flat dict...

[2020-03-20 10:02] MarineChap commented on #120
Ah yes! Sorry ! Don't worry, the issue mentioned upper it is for just for the software engineer taking care of our cluster.

[2020-03-20 11:21] #101 closed

[2020-04-06 20:56] ferchaure commented on #13
Hi @alejoe91 I have been using Wave_clus and spikeinterface, Do you think that I should add a parameter in Wave_clus to disable the filters that are always applied to the signal?

[2020-04-06 21:01] alejoe91 commented on #13
Hi @ferchaure

Personally I like to filter and do some preprocessing before spike sorting, so I think it's a very good idea! Can you make a PR?

[2020-04-08 19:46] ferchaure commented on #13
ok, I will make a PR soon. It is just a change on the default parameters of the spikeinterface wrapper, disabling the filters. But I would like to maintain the idea of using 2 different filters in the signal: one for detection and another one for sorting (I saw a few cases where that was quite useful). Do you think that adding more parameters (the parameters of the optional filters) to the wrapper

[2020-04-08 19:49] alejoe91 commented on #13
No problem at all in adding useful params :)

[2020-04-15 11:35] MarineChap commented on #90
Hello, what is the state of this issue? The spikesorter launcher for distributing computation is still in development?
Thanks

[2020-04-15 11:58] alejoe91 commented on #90
Hi Marine, not yet unfortunatly. Maybe @samuelgarcia will have some times in the coming weeks.

We could have a call in the next days if you'd like to contribute :)

[2020-04-15 12:05] samuelgarcia commented on #90
I wil. I promise!!
Since the dump/load is now working, this is easy.
Give me 2 more days :)

[2020-04-15 13:42] MarineChap commented on #90
Ah Ah Ah thanks ! No pressure of course :)

[2020-04-19 20:02] mhhennig commented on #112
Hi, Kilosort2 channel maps can be used as follows:
[code]
Does this help?

When you say you want to sort different probes at the same time, would you like to combine them? The channel groups feature (used for tetrode arrays as well) might help.

[2020-04-19 20:13] alejoe91 commented on #112
Hi @mhhennig I think @cagjony refers to the mat file and the jrclust prb that's also a mat file

[2020-04-20 06:54] samuelgarcia commented on #95
Hi,
here #130 I have add a close in the multiprocess engine.
Could you try if it fix it ?

Note taht this PR include a new engine with **dask** that do true task distribution.
If you have a slurm or equivalent at your lab you should test it.

[2020-04-20 10:35] cagjony commented on #112
Hi @mhhennig and @alejoe91 ,

I hope you and your family are safe and healthy,

I have thought about importing a .mat file (preferable Kilosort file) as a channelmap file (spikeinterface .prb) as @alejoe91 suggested above. Before any developments from you, I have to check whether SpikeGLXRecordingExtractor works fine. In the meantime, if you like you can close this issue.

Multiple probes indeed c

[2020-04-21 23:00] yarikoptic opened #131 "opinion: temporary should go to TMPDIR, explicit path for "valuable" data, study dir?"
With the help on other issues (thanks @alejoe91 and @samuelgarcia) the dummy user progressed to the point of actually running a spike sorting! whoohoo.

While running it I spotted:
[code]
and similarly to my whining about `.json` representations of extractors being dumped into current directory (which might have nothing to do with spike interfaces, or not even be writeable), I would like to bring

[2020-04-22 08:39] samuelgarcia commented on #131
Yes, this folder is not excatly a tmp folder, it is an output folder.
It can be seen as an tmp folder if use the delete_output_folder=True.

I prefer the ```klusta_output``` also.

I like the idea of this folder to be just here in the current firectory so a begininer can understand the fact that there is a output_folder rapidly. /tmp would be a bad idea because it could grow rapidly and on some co

[2020-04-22 11:09] #131 closed

[2020-04-23 15:05] yarikoptic opened #135 "output of a sorter (klusta) dumped into terminal stdout not into ipython notebook"
I am test driving spikeinterface's from ipython notebook (https://github.com/vandermeerlab/data-formats/blob/master/yoh_try_spikeinterfaces.ipynb).  Running
[code]
in the notebook produces only
[code]
output, while later I mentioned that terminal where I started the jupyter notebook full of
<details>
<summary>output</summary>

[code]
</details>

IMHO that should not be dumped into the terminal.  S

[2020-04-24 07:57] alejoe91 commented on #135
Hi @yarikoptic

It's not straightforward to print it on the notebook. I agree that dumping the output to a `log` file is ideal, probably in the same output folder (e.g. `klusta_output/klusta.log`).

Can you give it a try? It would require modifying the [ShellScript](https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/utils/shellscript.py) class

[2020-04-30 10:04] TRuikes opened #137 "Invalid klusta batch script"
When running
[code]
It properly generates a klusta folder, but the executable is named `klusta.bat`. Then when calling klusta (`klusta myparams.prm`) it will execute the batfile instead.

Fixable by giving the `klusta.bat` another name (`run_klusta.bat`)

[2020-04-30 10:10] alejoe91 commented on #137
Hi @TRuikes
Will fix this asap :)
Cheers
Alessio

[2020-04-30 10:17] TRuikes commented on #137
thx

[2020-04-30 10:22] alejoe91 commented on #137
should be fixed here https://github.com/SpikeInterface/spikesorters/pull/138

[2020-04-30 18:24] #137 closed

[2020-05-09 09:58] Bilalgp opened #140 "Error With Wave_clus - Upgrading spikesorters"
I am having trouble with wave_clus similar to the issue in this thread:

https://github.com/SpikeInterface/spikesorters/issues/87

I tried installing the upgrade to spikesorters but I got the following error. It installs, but if I try running any import function (say from spiketutorial) the import fails. I tried updating spikeinterface but when doing so, it downgraded spikesorters to 0.2.0.

![ima

[2020-05-09 10:10] alejoe91 commented on #140
This is due to SpikeInterface pointing to previous versions. We are making a new release before Tuesday with the updated versions.

For the moment, what you should do is:

- install SpikeInterface
- upgrade the single packages
- do NOT upgrade spikeinterface, otherwise it will downgrade again the other packages

[2020-05-10 02:46] Bilalgp commented on #140
![image](https://user-images.githubusercontent.com/26805330/81489696-9138b480-9246-11ea-8b35-4f6446481335.png)

I get this error if I keep spikesorters updated when trying to import the packages. I am using the jupyter spiketutorial notebook file.

[2020-05-10 08:38] Bilalgp commented on #140
I see the other packages weren't updated properly.

[2020-05-10 08:38] #140 closed

[2020-05-10 09:08] Bilalgp opened #141 "Path to wave clus Sorting Output Incorrect"
I am trying to run the spikewidgets function plot_unit_waveforms() from sorted data using wave_clus. I noticed the path in the function is different than what the spikesorters outputs. I'll try to find where path is defined and change it but I thought I should let you know.

![image](https://user-images.githubusercontent.com/26805330/81495177-5782a080-927c-11ea-9e1b-646e3da77007.png)
![image](http

[2020-05-10 09:20] alejoe91 commented on #141
Hi,

From the two screenshot isn't the path the same?

[2020-05-10 16:57] Bilalgp commented on #141
Yes. Apologies for not being clear. I think I misunderstood what happened. I think the plot_unit_waveforms() function requires the folder to exist (not delete_output_folder = True) and I was confusing the error with another file in another file.  Thank you.

[2020-05-10 17:49] Bilalgp commented on #141
Actually, I am not sure why but another issue started again. I am running the spike tutorial code, where I am running the run_waveclus() function with grouping_property = 'group'.  When trying to run plot_unit_waveforms() in the spikewidget class saying I am getting an error of an invalid argument of a tmp file.

When running, export_to_phy in the spiketoolkit class I am getting an error of record

[2020-05-10 18:43] alejoe91 commented on #141
Hi,

For the first error I suspect you have a spiketrains with size 0, which numpy doesn't like.. we should check and filter out those spiketrains. I'll look into it tomorrow.

The second error is due to the fact that the dtype is a str and not a numpy array. I'll fix that as well tomorrow :)

[2020-05-11 08:18] alejoe91 commented on #141
Could you send me the full notebook and a link to the data you are using?

[2020-05-11 09:16] Bilalgp commented on #141
Here is my notebook. I was following the tutorial and the four-tetrodes recording data from the tutorial. I was running the code using wave_clus. I don't see any spiketrains with zero in the rasterplot, but just in case I missed something, would you recommend using a manual function like filter(None, sorters) to remove any empty arrays?

[SpikeInterface_Tutorial.zip](https://github.com/SpikeInterf

[2020-05-11 09:38] alejoe91 commented on #141
Ok, I'll try to reproduce the issue on my machine.

Note that I just updated all packages! Maybe that fixes the issues. Can you try `pip install --upgrade` for all packages?

[2020-05-11 10:59] Bilalgp commented on #141
You mean upgrade all packages except the spikeinterface master correct (from this thread https://github.com/SpikeInterface/spikesorters/issues/140)

Or should I upgrade spikeinterface?

[2020-05-11 11:04] alejoe91 commented on #141
Correct! spikeinterface is not a real package, it's just a wrapper for the other packages

[2020-05-11 11:28] Bilalgp commented on #141
Thank you. The plot_unit_waveforms() function works.  Out of curiosity, if there were empty spike trains would you recommend using a manual function to remove the empty arrays? Also, is the output for the plot_unit_waveforms() function look like this because of the resolution issues of the widget tool?

![image](https://user-images.githubusercontent.com/26805330/81556403-3d1df500-9358-11ea-8586-47

[2020-05-11 14:14] alejoe91 commented on #141
@Bilalgp can you try to plot 1 unit only? You can use the `unit_ids = [0]`.

It might be due to the fact that electrodes are very far from each other.
I'll try to reproduce the second issue from your folder and get back to you

[2020-05-11 16:09] alejoe91 commented on #141
@Bilalgp it works on my side.

Can you try to rerun the export_to_phy command as follows?

[code]

Teh caching mechanism will speed up the extraction of waveforms. Otherwise, for each waveform snippet, the filter is run on-the-fly.

Let mw know if you get the same issue this way

[2020-05-11 17:40] Bilalgp commented on #141
Thank you for the prompt response. This is what I get when I try the 1 unit. I am not sure why the data trace looks like this. Do I need to manually change the acquisition rate for wave_clus in MATLAB?

![image](https://user-images.githubusercontent.com/26805330/81592880-9d2e8e80-938c-11ea-9a15-8bb2203ce20d.png)

The export_to_phy command works thanks! I just get the cacherecordingextractor warnin

[2020-05-11 17:42] TRuikes opened #142 "Bad parameters when calling running Klusta using dask"
@samuelgarcia thanks for the implementation of dask! I'm trying to deploy, but am getting the bad param error below.

When running:
[code]

I'm getting
[code]

[2020-05-12 01:01] Bilalgp commented on #141
Do you have a recommended way to export the spike sorting results to a file and import it so that I won't need to continuously run the code?

Also, is there a way to import the results from Wave_clus in MATLAB directly to SpikeInterface? Or if not, your best approach to how I should go about doing so? I think that would help me with the analysis since I am new SpikeInterface.

[2020-05-12 08:02] samuelgarcia commented on #142
Hi run_klusta do not support dask.

You have to use the ```run_sorters()``` function which have a sligthly diffrents signature.
See https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/launcher.py#L33

In short ```run_klusta``` run **one** sorter on **one** dataset and ```run_sorters``` run **several** sorters on **several** dataset. And here you can use dask.

[2020-05-12 08:31] alejoe91 commented on #141
Hi @Bilalgp

I think that the waveform looks good, you just need to adjust height and width.

To save the result you can use the caching/dumping mechanism:

[code]

You can do the same for the sorting object. Note that thi will also dump all waveforms, templates, etc.

To load them back you can simply do:

[code]

Alternatively you can also save the data to NWB qith the `NWBRecordingExtractor.writ

[2020-05-12 08:54] Bilalgp commented on #141
Thank you for the response. I am not really understanding the output of the plot_unit_waveforms. Isn't the output supposed to be plotting the same waveform? I looked at the API for SpikeInterface, but is there some further documentation where I can learn more about this and how to change the height/width?

For the NWB, just to clarify, this could be potentially also be used to save a MATLAB wave_c

[2020-05-12 09:11] alejoe91 commented on #141
Yes it is plotting 1 waveform, but on all channels. In order to change the wiidth and heigth you can use `%matplitlib notebook` in and just change it manually. Alternatively you can access the widget figure as `w.figure`. They are matplotlib objects.

You cannot import the mat files from waveclus in SpikeInterface directly. Only the spike trains are saved and loaded. what kind of data do you want

[2020-05-12 09:11] alejoe91 commented on #98
done

[2020-05-12 09:11] #98 closed

[2020-05-12 09:26] Bilalgp commented on #141
The way I understand wave_clus is from the GUI from where it is used and where it plots spikes per channel independently. I may be misunderstanding something, but I don't understand how this can make having 1 waveform on all channels possible. For starting with SpikeInterface,

I was thinking it might be easier to use the output of wave_clus in MATLAB, which is a .mat file, and convert it to somet

[2020-05-12 09:31] alejoe91 commented on #141
Waveforms are just snippets of recordings extracted around the spike times. In this case there are in total 16 channels, and the waveforms are extracted from all channels. If you want to plot less channels, you can use the `max_channels=4` in `plot_unit_waveforms`.

By running wave_clus sit SI, we already convert the info that we need (spike times and unit ids) to a SpikeInterface readable format.

[2020-05-12 09:40] Bilalgp commented on #141
I was more going towards if I manually curate/adjust the sorted waveforms using the wave_clus GUI then it would be easier to import into SpikeInterface rather than curating from SpikeInterface.

[2020-05-12 09:47] alejoe91 commented on #141
I see what you mean! You can open an issue on the wave-clus repo and ask if they can add a function to export in an SI readable format. Alternatively, they could also write an Extractor in spikeextractors to read the wave-clus files.

We recommend using Phy for manual curation. Have you tried that?

[2020-05-12 10:21] Bilalgp commented on #141
I see. Thank you. I haven't used Phy before but I will try to use that as well for curation.

[2020-05-12 10:28] Bilalgp commented on #141
If I end up needing to do create the extractor myself, do you have a recommended source on how the extractor should be set up? Is there something on the API that would be the best place to start? The outputs of wave_clus are relatively few so it should be easy if I know where/what to set.

[2020-05-12 10:48] alejoe91 commented on #141
https://spikeinterface.readthedocs.io/en/latest/sorting_extractor.html :)

[2020-05-13 18:50] TRuikes commented on #142
Allright! updated to:
[code]
which seems to work. I noticed if if pass the full original recording in combination with the keyword `grouping_property='group'`, it will break, which is why ill use `recording.get_sub_extractors_by_property('group')` instead.

[2020-05-13 18:50] #142 closed

[2020-05-15 09:00] Bilalgp commented on #141
Thank you.

[2020-05-15 09:00] #141 closed

[2020-05-26 22:00] yarikoptic opened #147 "Q: spike sorters for thresholded spikes (in NeuraLynx .ntt files)?"
In the dataset I had mentioned before (http://datasets.datalad.org/?dir=/labs/mvdm/MotivationalT-v2/R050/R050-2014-03-31_raw; see e.g. https://github.com/SpikeInterface/spikeextractors/issues/364) we have .ntt files (a file for 14 out of 16 tetrodes) which have data for time windows (8 samples before 24 after) around detected spikes, typically a few 100k windows per tetrode.  Then there are also .

[2020-05-26 22:43] alejoe91 commented on #147
Hi @yarikoptic

Unfortunately at the moment this is not possible because all sorters work on the full recording :( in principle some of the density-based sorters should work for waveforms only..but it would be tricky to support that as the RecordingExtractor itself expects a continuous signal (get_traces())

Do you have access to the raw data?

[2020-05-26 23:27] yarikoptic commented on #147
That datalad is the raw data as far as I know, spit out by neutrality neuralynx system. Do we have continuous recording at 33kHz sampling rate - nope. If sorters don't impose any additional filtering (do they?) we could probably come up with continuous data fill of 0s where there is no data within .ntt files (or just pretty much ignore those periods) and set thresholds and windows to match what is

[2020-05-27 09:40] alejoe91 commented on #147
@yarikoptic some sorters do impose additional filtering. I think that the field is moving towards using raw data as input, also because storage solutions are not as limited as before, which required to only save above-threshold snippets.

I agree that sorting already cut waveforms could be beneficial, and probably klusta and wave-clus could be *hacked* to only run the clustering part (provided tha

[2020-05-27 12:37] samuelgarcia commented on #147
@yarikoptic : neo API (for historical reason) have this "waveform read" ability.
Spikeinterface don't.
I don't think that many user still use this. We left it but it is a pain to maintain.

This explain this num_chan_group=0 with your file.
Spikeinterface only retrieve traces and spike times.
neo can also do event, epoch and waveforms.
In case, of a file that have only waveforms then it is an empt

[2020-05-27 14:12] yarikoptic commented on #147
May be @manimoh or @mvdm could clarify on that, I have no clue.  I bet it is possible.

We were trying to sort this data because it is a historical dataset which originally was "manually sorted" based on the properties of those waveforms.  The idea was to see which sorting algorithm would provide best agreement with manual sorting.

But it feels that

- in the short run we could try to run sorters

[2020-05-27 14:17] manimoh commented on #147
It is possible to do that in Neuralynx, and that's what we plan on doing moving forward.

[2020-05-27 14:19] samuelgarcia commented on #147
I anderstand. I you want to compare to this manual sorting you don't need waveform, only spiek tims. spikecomparison is your firend because it match 2 datasets (on manual in your case and one auto). have look here https://spikeinterface.readthedocs.io/en/latest/modules/#comparison-tutorials

Yes good idea, we could filter channel <10kHz and not expose then on spiekinterface side.

On the neo side,

[2020-05-27 14:24] yarikoptic commented on #147
but if I got it right - we do not have "auto". We only have detected spikes and waveforms (for each tetrode).  That is what we wanted to run some automated sorting on.

[2020-05-27 14:29] samuelgarcia commented on #147
Ah ok.
I am lost sorry. You want auto on the waveform extracted.
I think you could make your own "auto sorter" with: SVD (or PCA) (=sklearn easy for you) + hdbscan (very nearby sklearn) you should have pretty good result for 4 lines of codes.

[2020-05-27 16:34] yarikoptic commented on #147
yeap

nah, no "own".  Let me extend (added clarifications in **bold**): "The idea was to see which **existing** sorting algorithm would provide best agreement with manual sorting, **to decide on which one to use in the future**".

[2020-05-27 16:38] alejoe91 commented on #147
I think that most of the currently available sorters (at least the template-matching ones) cannot be used in that case :(

[2020-05-28 11:43] yarikoptic commented on #147
Thank you @alejoe91 and @samuelgarcia for the feedback and information!  I guess nothing to do about this issue (besides [a few points mentioned above](https://github.com/SpikeInterface/spikesorters/issues/147#issuecomment-634687981) I leave at your discretion to file/address), so closing.

[2020-05-28 11:43] #147 closed

[2020-06-06 21:28] ferchaure commented on #13
Hi again @alejoe91
I was looking the changes you [asked for](https://github.com/SpikeInterface/spikeextractors/pull/393), and I found ([here](https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/waveclus/waveclus.py#L94)) that the recording is written on a mda file, then loaded and saved on a mat file. am I right?
Is it possible to use scipy.io.savemat to save the recordings dir

[2020-06-07 07:33] alejoe91 commented on #13
Hi @ferchaure

Sure you can use script if you think it's better. The mda format is a straight binary with a small header, so writing and reading should be quite efficient! Can you test if using scipy.io is as efficient?

[2020-06-08 01:02] ferchaure commented on #13
I know but create the mda file is not required, I can create the mat files directly on python. I did a little test with a simulated recording.

Using savemat the mat files are created in 0.26 seconds.
But using the mda as the intermediary between python and matlab takes 1.3 seconds (0.72 creating the mda on python and 0.58 loading the file in matlab and saving the mat files).

The python script is

[2020-06-08 07:05] alejoe91 commented on #13
Great! Then I have nothing against saving directly to mat file :)

[2020-06-08 23:29] ferchaure opened #149 "Question about unsorted spikes"
Hi, I'm trying to improve a project using SpikeInterface, but I would need the times of the unsorted spikes? Is this possible?
In wave_clus we have that times as the cluster 0 but we don't give that info to the SpikeInterface wrapper.

[2020-06-09 06:49] samuelgarcia commented on #149
Hi Fernando.
At the moment, spikeextractor don't have this feature but it would easy to add it.

I think the best is to add a method for this like:
```SortingExtractor.get_unsorted_spike_train(self)```
or this but I think it would be too complicated for some extactor.
```SortingExtractor.get_units_spike_train(self, unit_ids="bad")```

In tridesclous the non sorted have a -1 label. I don't think it

[2020-06-09 07:05] alejoe91 commented on #149
Hi Fernando,

I think that the best way would be to add a `keep_unsorted` argument to the `WaveClusSortingExtractor`. When that is True, you can load the unsorted psikes in an extra spike train, and I would also add a `property` to the unit indicating whether it is `sorted` or `unsorted`.

See how it's done in a similar way for `good` units in KS2 [here](https://github.com/SpikeInterface/spikeextr

[2020-06-09 08:11] samuelgarcia commented on #149
Alessio, I think "unsorted" is a bit differents than "good" or "bad" from KS.
"unsorted" is that you known it is unsorted.

About putting this info as property is also an option we we must standadize accros extractor how to do it : the name and the value of the property has to be define.
A method on top of that would force the convention.

[2020-06-09 08:15] alejoe91 commented on #149
@samuelgarcia I think this is a very special case and I wouldn't modify the API when we can use properties. I don't know if we need a convention for this. @ferchaure what do you think?

[2020-06-09 12:11] ferchaure commented on #149
I strongly agree with this:

"unsorted" is that you known it is unsorted.

I like the `SortingExtractor.get_unsorted_spike_train(self)` idea. Principally because calling that detections 'units' doesn't feel right. I understand that using properties can be more manageable for the API, but a lot of people will use mainly `get_unit_ids` and `get_unit_spike_train` to use the sorting and I guess that i

[2020-06-10 07:27] alejoe91 commented on #149
Ok then, you convinced me!

@ferchaure would you have time to implement this? I think that WaveClus would be the first extractor for this feature :)

I would add the method in the `SortingExtractor` class, that raises a `NotImplementedError` by default. Then derived extractors can override it

[2020-06-10 11:36] ferchaure commented on #149
Ok, I will do it. I'm currently improving the extractor, adding more parameters, etc

[2020-06-12 17:39] manimoh opened #150 "Kilosort2 kcoords are the same"
Hi,
I was trying to use the spikesorters pipeline to run Kilosort2 on ephys data collected via a 4- shank, 32-channel sillicon probe.

The option 'kcoords' in Kilosort2 is used to separate channel groups into shanks or different tetrodes for the purpose of restricting templates to the channels in the same channel group.
See [this](https://github.com/MouseLand/Kilosort2/blob/1450e72237e019a1eddfeee

[2020-06-13 07:08] alejoe91 commented on #150
Hi!

You have to use the argument grouping_property='group' to spike sort by group. We decided to handle groups externally, since we have tools to split and merge recording and sorting output :) and the can be run in parallel.

Cheers
Alessio

[2020-06-13 13:36] manimoh commented on #150
That was helpful. Thanks @alejoe91
However, kilosort2 seems to have a more flexible usage of the parameter **kcoords** than just using it to define channel groups. See [this](https://github.com/MouseLand/Kilosort2/blob/1450e72237e019a1eddfeeeb022dfc9d49880e46/configFiles/createChannelMapFile.m#L34-L46) for details.
But for that usage another parameter, **ops.criterionNoiseChannels** (description i

[2020-06-13 13:40] manimoh commented on #150
On a related note, I am actually not sure if Kilosort2 has actually implemented the **kcoords** feature in its present form. See [this](https://github.com/MouseLand/Kilosort2/issues/155)

[2020-06-13 18:35] alejoe91 commented on #150
Yes I think I had looked into it before, thanks for checking! I think it's better to handle grouping outside, even because any property
 can be used for grouping. Can I close the issue?

[2020-06-13 20:10] manimoh commented on #150
Sure, go ahead and close it!
I agree with you about it being a better design decision to handle grouping outside of a specific sorting algorithm, but when and if KS2 does implement the **kcoords** feature the way they mention it, not passing this group information will not allow KS2 to work as intended.

[2020-06-13 20:11] #150 closed

[2020-06-15 14:41] manimoh opened #151 "Kilosort2 log is present only in Matlab console"
On running Kilosort2 via spikeinterfaces, the kilosort2 log is displayed only on the console of the launched Matlab instance which closes upon successful execution or an error. Ideally, this console output should be saved in a "matlab-log-file" so that if the Kilosort2 throws an error (and NOT the spikeinterface/spikesorters pipeline), users can look at it.
Based on [this](https://www.mathworks.co

[2020-06-15 18:26] manimoh opened #152 "Kilosort2 json dump shows inconsistent properties"
Hi,
I was using spikeinterfaces to run Kilosort2 on continously sampled wideband data collected via a Neuralynx Acquisition system and this is the barebones schematic of steps that I followed (see https://github.com/vandermeerlab/data-formats/blob/master/ks2_30kHz_continuous.ipynb for the full workflow) :
1) Extract recordings from the folder using NeuralynxRecording Extractor and put them into a

[2020-06-15 19:02] alejoe91 commented on #152
Hi @manimoh

Thanks for the issue. Since you set the groups and locations on the recordingFull, they are saved as properties of the full recording (and propagated to the sorter). In this case the group and location info of the single segment are not used. If you set the groups and locations for each of the segment and then build the MultiRecordingExtractor, the properties should be propagated. In

[2020-06-15 19:43] manimoh commented on #152
Thank you for explaining this!
Closing this now.

[2020-06-15 19:43] #152 closed

[2020-06-16 09:00] alejoe91 commented on #151
Hi @manimoh

Sure that sounds like a good idea. If you pass the log file, does the output get printed in the console as well? I think it would be nice to have both!

I think it would be better to implement this in the [ShellScript](https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/utils/shellscript.py) class, which handles all calls to bash scripts (including matlab). In that

[2020-06-16 09:07] alejoe91 opened #153 "Add JRClust wrapper"
@jamesjun @aliddell

Is the [SpikeForest version of JRClust](https://github.com/flatironinstitute/spikeforest2/blob/master/spikeforest2/sorters/jrclust/_jrclustsorter.py) up to date with the JRClust repo?

In case it's not, I think it would be nice to have a wrapper for the current version.

@aliddell can you help us implementing it?

[2020-06-16 12:24] ferchaure opened #154 "Comments and Questions about spikesorters"
1- On windows machines, _-nodisplay_ is not an existing argument for Matlab. That argument is included in all the Matlab sorters, and it generates an unnecessary warning.

2- What do you think about the [MATLAB Engine API for Python](https://www.mathworks.com/help/matlab/matlab_external/get-started-with-matlab-engine-for-python.html)? using it makes possible to call Matlab commands directly from p

[2020-06-16 12:58] samuelgarcia commented on #154
1. Could you make a PR that detect windows and remove this arg ?

2. Is it a free module in matlab ? If yes we could think about a double implementation : actual with
   ShellScript + this new one if there is indeed a gain at startup.

3. In tridesclous, highpass_freq=None / lowpass_freq=None should remove the filtering steps.
   Theses args are exposed. I don't understand. What error do you have

[2020-06-16 13:21] ferchaure commented on #154
1. The windows command is already in its own if statement. The change will only remove that word from the command string.

2. Yes is a free module, and probably it can help a lot. But a way to open the matlab engine in spikeinterface and keep that object alive across sorting should be implemented... Or maybe just allow it as a parameter for the run methods. Like: if the Matlab engine is an input,

[2020-06-16 13:44] samuelgarcia commented on #154
OK.
I now got the tridesclous error I will fix it.

[2020-06-18 19:07] manimoh commented on #151
Hi @alejoe91,
To display it in the terminal console, one must pass `-log` along with the rest of the shell command. I agree with you that making that change via the ShellScript class would be a better way to do it.
And I can look into this and will make a PR soon!

[2020-06-18 20:33] manimoh commented on #151
Also, do we want the log to be displayed on the terminal as well as copied to a log file, or do we want it only to be dumped into a log file?

[2020-06-18 21:58] manimoh commented on #151
Adding the Pull request here:
#156

[2020-06-23 22:18] ferchaure commented on #154
(I continue the counting)
5 - Have you considered the case of long multi-files recordings? Do you think that spikeinterface will include a way to handle them?
6 - I notice than almost all the sorters are run using a bash script. This could allow us to include a line to change the Python virtual environment. I guess that installing the python sorters in its own environment could help with the depen

[2020-06-24 06:15] samuelgarcia commented on #154
5.You can already use the MultiRecordingTimeExtractor to virtualy concatenate several recordings.
   A better approach would be that spiekextractors recordgins would handle explicitly the multi segment recording as neo do.
    We already talk about this. I will long propocess.
6. HS2, TDC and MS4 do not use script but use directly the python API. Yes indeed, moving theses sorter to script API woul

[2020-06-24 16:56] manimoh commented on #151
Resolved in merged PR#156

[2020-06-24 16:56] #151 closed

[2020-06-24 16:57] manimoh commented on #135
Resolved in merged PR#156, should close now?

[2020-06-24 16:59] alejoe91 commented on #135
I think I'll change the name from spikesorters_log.txt to sortername.log (otherwise it's confusing with the spikeinterface_log.json)

[2020-06-24 17:01] alejoe91 commented on #62
This was due to the threading system. Should be fixed now

[2020-06-24 17:01] #62 closed

[2020-06-24 17:02] #29 closed

[2020-06-24 17:02] alejoe91 commented on #28
Fixed

[2020-06-24 17:02] #28 closed

[2020-06-24 17:04] #149 closed

[2020-06-24 17:11] alejoe91 commented on #135
https://github.com/SpikeInterface/spikesorters/pull/158

[2020-06-24 17:15] alejoe91 opened #159 "Add _sorter_description and _params_description to each sorter"
To improve transparency, we should add a brief `_sorter_description` (str) and `_params_description` (dict) to each sorter, alongside with `get_sorter_description()` and `get_params_description()` base functions

[2020-06-24 17:30] #135 closed

[2020-06-25 21:56] manimoh opened #160 "Pip install doesn't install from the current master"
I have noticed that pip install doesn't seem to be installing the contents of current master (for spikesorters, at least!). Is it intentional? If not, shouldn't every change to the master branch in the repos be accompanied by some increment in the version number so that pip installs gets the newest version?

[2020-06-26 09:45] alejoe91 commented on #160
Hi @manimoh

We do not release after each PR (otherwise we would be at version 70000  on pip :) )
Once a few relevant changes are made, we make a new release. I think we will release all packages in maximum a week.

Cheers
Alessio

[2020-06-26 09:45] #160 closed

[2020-07-05 04:46] MingChingChiang opened #162 "Both Ironclust and Waveclus returned a non-zero exit code"
Hi,
Thanks for this awesome tools again!
I was running the python-based sorters for a while and they currently run pretty stable.
When I try to run the Matlab-based sorters, such as Ironclust and Waveclus, I always get the error message:
(Ironclust) Waveclus returned a non-zero exit code
I've followed the NWB tutorial instructions setting path for the sorters
`ss.IronClustSorter.set_ironclust_path

[2020-07-05 05:46] alejoe91 commented on #162
Hi @MingChingChiang

Can you pull the latest version of spikesorters? We improved the logging mechanism so now you should see both in the console/jupyter the output of the sorters and that is also saved in a log file in the output folder. That should help to understand what's going on!

[2020-07-05 06:19] MingChingChiang commented on #162
Sure! I'll do it now!

[2020-07-05 06:20] alejoe91 commented on #162
Set verbose=True!

[2020-07-05 08:31] MingChingChiang commented on #162
@alejoe91
Thanks for the suggestion!
I check the log and it says the matlab command not found
Then I realize that I need to run the following code in the terminal
`export PATH=/Applications/MATLAB_R2019a.app/bin/:$PATH`
After this step I can run the matlab-based sorter, at least the ironclust is working!
Thanks a lot!
Then I close this issue!

[2020-07-05 08:31] #162 closed

[2020-07-06 17:04] ferchaure opened #163 "issue with run_tridesclous inside loop (on Windows)"
Hi, I have been trying to run tridesclous inside a loop but some file is kept open and crash the next iteration.

my code:
[code]

The error:
[code]

[2020-07-06 18:56] samuelgarcia commented on #163
This is because sorting handle some file in the tridesclous folder.

In a loop, you need to force a new folder at each iteration.
[code]
or too delete the folder after the writing to MDA.

[2020-07-06 19:43] ferchaure commented on #163
That will be a better solution (I have a limited disk space)  but without closing that python instance is not possible. I tried deleting _sorting_ but it doesn't close the files. Maybe a `__del__` method in the spikesorter wrapper can perform a tidy destruction of the instance?

[2020-07-06 19:45] samuelgarcia commented on #163
In fact I forgot it but it is already included:

[code]

[2020-07-06 19:47] alejoe91 commented on #163
Hi guys! @ferchaure  if you pull the latest spikesorters the output folder is automatically deleted, if existing :) if that doesn't solve the issue then it's something else

[2020-07-06 19:56] ferchaure commented on #163
Hi, alejo.
I'm using the last commit, and the error appears when that new method try to delete the folder

[2020-07-06 19:57] samuelgarcia commented on #163
@alejoe91 : you put the delete_output_folder=True by deafult ?
I am totally not in favor of this!!!!

[2020-07-06 19:58] alejoe91 commented on #163
I see..deleting folders through Python on windows is unfortunately problematic :( not the first time this shows up.

@samuelgarcia no! If you run a sorter and the output folder already exists, it's overwritten (not deleted afterwards)

[2020-07-06 20:00] samuelgarcia commented on #163
@alejoe91 : ok Isee.
unfortunatly if the folder contain memmap that are not release before then you are not annlowed to overwrite.

[2020-07-06 20:00] samuelgarcia commented on #163
@ferchaure : in your case you need to use `delete_output_folder=True`

[2020-07-06 20:02] samuelgarcia commented on #163
@alejoe91 : where is this behavior of overwritting ?

[2020-07-06 20:04] alejoe91 commented on #163
https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/basesorter.py#L68

[2020-07-06 20:05] samuelgarcia commented on #163
I did not notice. It is a bit dangerous.

[2020-07-06 20:13] ferchaure commented on #163
I tried with `delete_output_folder=True` and got the same results. Some files on the folder are deleted but not all of them (probably the open ones).

[2020-07-06 22:09] ferchaure commented on #163
all the *.raw remains on the folder and can't be deleted.

@samuelgarcia these files are opened using memmap? are they accessible in any way from the so.run_tridesclous output?

[2020-07-07 09:24] samuelgarcia commented on #163
Oups.
Then it is a bug.
theses memmap files should be close when the internal object tridesclous datatio is deleted.
I will have a look.

[2020-07-07 10:10] alejoe91 commented on #163
Can it be the extractor?

[2020-07-07 10:40] samuelgarcia commented on #163
Maybe. I though Iwas doing a copy to avoid the memmap handle. I check.

[2020-07-07 10:41] samuelgarcia commented on #163
I got it.
the extractor handle the dataio.
I must patch it.

[2020-07-07 15:05] ferchaure opened #164 "error on shellscript and spykingcircus"
Hi I tested spyking-circus using the current commit and I got the following odd errors. Any ideas?

(exactly same code using the spikeinterface version installed using pip works fine)

[code]

[2020-07-15 14:26] TRuikes opened #165 "KiloSort2 not recognized as installed"
[this line](https://github.com/SpikeInterface/spikesorters/blob/0a99a94f623241d85dc34b2478fa729ea7c63db2/spikesorters/kilosort2/kilosort2.py#L24) is checking for a file that doesn't exist (master_kilosort.m) on the [current KiloSort2 master](https://github.com/MouseLand/Kilosort2)

[2020-07-15 14:50] alejoe91 commented on #165
Hi @TRuikes

The latest update checks for both master_kilosort.m and main_kilosort.m:

https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort2/kilosort2.py#L24

Should be fixed if you pull

[2020-07-15 14:51] TRuikes commented on #165
ah =)

[2020-07-15 14:51] #165 closed

[2020-07-15 17:39] TomBugnon opened #166 "Can't install KiloSort2"
Hi!

I'm trying to install Kilosort2 but it doesn't appear in `installed_sorter_list`

I tried both methods:

- setting the environment variables by sourcing this file:
[code]

- Running
[code]

Note that the other sorters do appear:
[code]

I'm using spikesorters v0.3.3 on Ubuntu 20.04
Hope I'm not missing something silly
Thanks! Tom

[2020-07-15 18:35] alejoe91 commented on #166
HI @TomBugnon

I think this is related to this issue https://github.com/SpikeInterface/spikesorters/issues/165

Basically in kilosort2 repo the `master_kilosort.m` was changed to `main_kilosort.m`. In the master branch this is fixed: https://github.com/SpikeInterface/spikesorters/blob/0a99a94f623241d85dc34b2478fa729ea7c63db2/spikesorters/kilosort2/kilosort2.py#L24

If you install from source using

[2020-07-16 13:12] TomBugnon commented on #166
oops I missed that issue.

Thank you!

[2020-07-16 13:12] #166 closed

[2020-07-22 12:40] gmaggi opened #167 "what kind of files can be removed after completing a sorting?"
Hi,

When kilosort2@spikeinterface is executed, some files are created  as the 3 underlined in red in the attachment.

- Are those files generated during the extraction?
- can those files be removed once the calculation is completed?, or are those needed for the "manual refinement" with phy?

Thanks,
Giuliano.
![output of spikesort2](https://user-images.githubusercontent.com/11243913/88177464-3306

[2020-07-22 14:26] alejoe91 commented on #167
HI @gmaggi

So the `recording.dat` is created by SI and it's a binary copy of the recoridng. The `temp_wh.dat` is created by KS2 and used internally. The `recording` is somewhat odd and I've never seen it before. It's alsou outside of the `output_folder`, so I don't think it's SI-generated.

For Phy, I think you only need the `recording.dat` to visualize traces. Not 100% sure about the `temp_wh.da

[2020-07-24 12:55] jonnew opened #168 "run_mountainsort never returns when run in parallel mode"
This may be an issue with mountainsort itself. However, when I run

[code]

spike sorting will run, and mountain sort will produce all of its appropriate output files (firings.mda etc). The output log prints

[code]

But the function never returns as `SortingExctractor` object. This only happens in parallel mode. It seems like spawned threads are not being joined and maybe deadlocked.

Potentially

[2020-07-24 13:00] samuelgarcia commented on #168
Moutainsort is partially written in C++.
My guess that some part of code are not re entrant and so can not be run in parralel.
You should ask to Jeremy (@magland)

Try tridesclous ;)

[2020-07-24 13:03] alejoe91 commented on #168
Can you try to pull the latest spikesorters master? I think we fixed the parallel backend to make ms4 work

[2020-07-24 13:04] samuelgarcia commented on #168
@alejoe91 : we did not release since the joblib parralell ?

[2020-07-24 13:05] jonnew commented on #168
@samuelgarcia I'm interested in trying everything. Algorithmic-ally and performance wise, are they similar? I realize that this very package provides a means to compare them, but being incredibly lazy, I know ppl that use mountainsort to great effect for wire tetode probes which is what I use so I tend to listen to them :).

@alejoe91 Thanks I will try!

[2020-07-24 13:08] samuelgarcia commented on #168
It was a joke.
Trying all sorters cost you one line of code in SI. (but also parameters search for your dataset).

[2020-07-24 13:22] jonnew commented on #168
OK...

[2020-07-24 13:28] alejoe91 commented on #168
@jonnew for tetrodes I have been using KS2 and I was quite happy with it. With some automatic curation the output is also pretty clean

[2020-07-24 13:36] jonnew commented on #168
Thanks @alejoe91, I will give it a try!

[2020-07-27 19:32] jonnew commented on #168
@alejoe91 Update: when I try this with the latest, it runs to completion. I'm getting warnings about ABI incompatibility with the _bootstrap.py numpy library when I use the source version of the sorters library , but I think this is just unrelated python package hell issues.

Thanks for your help

[2020-07-27 19:33] alejoe91 commented on #168
@jonnew Happy to hear that! Closing the issue then :)

[2020-07-27 19:33] #168 closed

[2020-07-31 06:03] seqasim opened #169 "Any plans to implement Combinato?"
Combinato (https://github.com/jniediek/combinato) is a flavor of WaveClus that does a nice job of a) over-clustering, if you so desire, and b) chunking and parallelizing the unsupervised aspect of the clustering to dramatically speed up applications of SPC to large datasets.

[2020-07-31 07:08] samuelgarcia commented on #169
Hi @seqasim. Yes it is a good idea.
Combinato appears to be written in python.
It should quite easy to do it.
Do you think you could do a PR for this ?
Have a look to other wrapper it is quite easy to make wrapper.

[2020-07-31 15:08] seqasim commented on #169
Yes, I can definitely work on this! Wanted to make sure someone was not already

[2020-07-31 15:58] seqasim commented on #78
This problem also arises when the jupyter environment is hosted on an online server (as is the case on our computing cluster). Even if select the correct environment as the kernel, the shell commands will still be run from the base environment and not the desired environment.

Would it be reasonable to append sys.executable to the shell cmd so that the python interpreter used by Jupyter is always

[2020-07-31 18:12] seqasim commented on #78
Sorry, I was being dumb. For anyone who has this issue in the future:

In klusta.py:
            # shell_cmd = '''
            #             #!/bin/bash
            #             klusta {klusta_config} --overwrite
            #         '''.format(klusta_config=output_folder / 'config.prm')
            shell_cmd = '''
                        #!/bin/bash
                        {} {klusta_config} --

[2020-08-12 08:37] alejoe91 commented on #164
HI @ferchaure

Sorry I missed this! Maybe @yger can help :)

[2020-08-14 12:23] #167 closed

[2020-08-14 12:39] gmaggi opened #172 "kilosort2 Out of memory on device, gpuDevice()"
Hi,

A colleague of mine got the following error below when running kilosort2.

Apparently, other people also have it using kilosort2: https://github.com/cortex-lab/KiloSort/issues/176 . But it is also not clear to me where to run gpuDevice(), I guess somewhere in the kilosort2_master.m.

Is there a work around using spikeinterface?

Thanks,
Giuliano.

Found 0 splits, checked 1/244 clusters, nccg

[2020-08-21 08:03] gmaggi commented on #172
Hi,
Just to know if there are some tips to cope with the issue posted above.
Thanks,
Giuliano.

[2020-08-24 07:46] gmaggi commented on #172
The dataset is ~250 GB. The GPU specs are:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.81                 Driver Version: 384.81                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2020-08-24 09:05] mhhennig commented on #172
I'm almost certain this GPU is insufficient, I have the same model and could sort only very small data sets. You could check by creating a small `SubRecordingExtractor` (just 5 min of data or so), and send this to Kilosort. This will probably still work, but for longer files it will fail. I have a GeForce RTX 2070, which appears to be a good compromise.

[2020-08-24 09:16] gmaggi commented on #172
Thanks for the note.
If I understand correctly, kilosort2 divides the input in chunks of data. Thus, if the GPU is insufficient, that'd mean that  is insufficient  for a *single* chunk, and therefore I'd asume that the same error-result would pop up if Subrecording is used.

Would it be correct?

[2020-08-24 09:20] mhhennig commented on #172
I'm not really sure to be honest how it works internally. I just found that on a GTX 980 I could sort a 5 minute, 100 channel recording, but not a 15 min Neuropixels one.

[2020-08-24 09:21] alejoe91 commented on #172
Hi @gmaggi

You can try to reduce the `NT` param (https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort2/kilosort2.py#L51), which is the one that controls the buffer size. This should reduce the amount of required GPU memory.

By default, this is `64 * 1024 + 64` (https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort2/kilosort2.py#L151 -  same

[2020-08-24 09:22] samuelgarcia commented on #163
Not yet.
I will.

[2020-08-24 09:33] gmaggi commented on #172
Thanks @alejoe91 , ok, I'll try with `NT`.
Is `ntbuff` also related? https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort2/kilosort2.py#L49

[2020-08-24 09:36] alejoe91 commented on #172
`ntbuff` should be the number of samples for the waveforms cutout, which is added to `NT` (better to double check with KS2 devs though). It shouldn't affect `NT` that much (64*1024 vs 64 samples), so I would leave it as is

[2020-08-26 08:06] samuelgarcia commented on #163
I have just push a PR in spikeextractors.
This should fix this bug.

[2020-08-26 12:32] ferchaure commented on #163
Nice! Thanks samuel. I will test it in a few hours.
This allows me to use tridesclous as a core for my tracking method :smile:   (I still have the issues with the filter's parameters and the multiple identical detections)

[2020-08-26 21:40] ferchaure commented on #163
I got the same error as before :disappointed:

[2020-08-27 08:48] samuelgarcia commented on #163
With `delete_output_folder=True` ?
Outch.
I need to test on windows.

[2020-08-27 12:17] ferchaure commented on #163
Yes, I tried that argument as well

[2020-08-31 15:48] alejoe91 commented on #163
@samuelgarcia I think this would be fixed by making a `__del__` method in the `TridescloussortingExtractor` that `del` all memmap objects!

[2020-08-31 16:12] samuelgarcia commented on #163
@alejoe91 : it is not anymore necessary. In that case this is something else.
The instance of TridescloussortingExtractor do not handle anymore memmap or something like that.
I don't know what I have to test it on windows.

[2020-09-15 13:47] samuelgarcia opened #177 "implement pykilosort"
Hi pykilosort team.
Even if pykilosort is not finish yet.
It would be cool to start the wrapper here no ?
We could then try to run some benchmark.
@rossant
@alexmorley

[2020-09-16 12:29] yger commented on #164
Not sure I can do much.... Could it be that you have weird character in a path, somewhere?

[2020-09-16 13:45] ferchaure commented on #164
I guess that the doesn't make sense to go back to the old commit. I  just checked again with the current pip versions of spikeinterface and spykingcircus and I got the same error.

I run just the created bat file `run_spykingcircus.bat `and that works fine. I a windows thing, I tried exactly the same on Linux without any problem.
I think the issue is related to the ShellScript, some odd character

[2020-09-16 22:26] ferchaure commented on #164
I got the same error with klusta, but is only happened running from ipython.  I guess that this is a too specific issue

[2020-09-16 22:26] #164 closed

[2020-09-18 22:38] ferchaure opened #178 "leaked folder objects Tridesclous on for loop (on linux this time)"
Hi guys... I really hate to be the annoying user that apply the package a bit out the original idea. I keep using `run_sorter` inside for loops... a lot. And usually works fine but if I try tridesclous eventually I got errors related to memmap:

[code]

a lot of those last ones and finally:

[code]

Maybe a way to fix it could be call tridesclous in an external shell (as spyking-circus for example

[2020-09-21 12:06] ferchaure commented on #154
You answered all the questions and I have gitter for any new ones.

[2020-09-21 12:06] #154 closed

[2020-09-24 07:41] alexmaehon commented on #5
indeed

[2020-10-21 09:20] #172 closed

[2020-11-06 20:38] bendichter commented on #11
Any plans to integrate this?

[2020-11-18 17:08] joramvanrheede opened #181 "Informative naming of grouped sorter output using 'grouping_property'"
I am using the 'grouping_property' argument to sort some tetrode data from different structures using Kilosort2 in several groups. While I can use any arbitrary channel property as the 'grouping_property', the grouped sorter output is always in folders that are labelled from 0 to Ngroups-1.

I guess this is more of a feature request than an issue, but for further analysis of the sorted output it w

[2020-11-19 08:29] samuelgarcia commented on #181
Hi.
I think haing folder with group index is better backward comatibility.
But it should be quite easy to add a json file that contain this group name information.
@alejoe91 @colehurwitz what do you think ?

[2020-11-19 08:46] alejoe91 commented on #181
Hi @joramvanrheede

I agree with @samuelgarcia that having the folder named as sequential numbers is convenient and it ensures bacward compatibility.
We could definitely add a json file in each of this folder specifying the `grouping_property` name for that group.

[2020-11-19 10:44] joramvanrheede commented on #181
OK - Thanks for clarifying that, it was more of a suggestion and I didn't realise that there were parts of the software that depended on the sequential numbering down the line!

[2020-11-26 19:16] timsainb opened #185 "Sorting weeks long recordings and/or merging subsorts"
Hi SpikeInterface team. Thanks for the awesome tool.

Are there any protocols defined in spikeinterface for sorting days to weeks long recordings?

I've played around with the different spike sorters and the only sorter that I've found works with >24 hour 32-channel recordings is IronSort.

I looked into Kilosort/2/2.5, and [found a thread where @marius10p suggests splitting files and merging back

[2020-11-26 23:37] mhhennig commented on #185
Interesting question!

So what you suggest may work: split into overlapping segments, and use the the spikecomparison tools (`spikecomparison.compare_two_sorters`) to find matching neurons in the overlapping segments. This should be quite easy to implement with the SubRecordingExtractors, as you suggest.

A main problem can be probe drift as it will not be compensated for. But it is worth a try I

[2020-11-28 23:38] timsainb commented on #185
Thanks @mhhennig finding overlapping units in the overlapping segments works very well.

I'm currently at an impass on how to merge the overlapping sortings. Now that I have a set of putatively matching units, I want to:
1) merge together those two sortings into one SortingExtractor
2) merge overlapping units into a single unit

For the first part I can't find anything in the API that merges toget

[2020-12-01 00:26] Aleman-Z commented on #13
Hey guys, I am doing sorting with Waveclus in some large concatenated recordings and realized that using **scipy.io.savemat** as suggested by @ferchaure can be an issue since it has a limit of 4GB as explained here [http://scipy-user.10969.n7.nabble.com/SciPy-User-Maximum-file-size-for-savemat-td18583.html](url)

I get this error when trying to use savemat:
_scipy.io.matlab.miobase.MatWriteError:

[2020-12-01 09:55] mhhennig commented on #185
You are right, merging sortings is not automated so far (this is the first use case...). It's also neccessary to correct the spike times for each segment so they are continuous, this should be done outside spikeinterface for now.

I wonder which functionality would help here. I supoose we could add a method to add spikes to an existing unit (@colehurwitz ?). But I expect there will be different nu

[2020-12-01 11:21] alejoe91 commented on #13
HI @Aleman-Z

@ferchaure what do you think? We can either switch back to mda or use h5py to save and load larger mat files

[2020-12-01 11:46] samuelgarcia commented on #13
Maybe we can switch to another package for mayt file
pymatreader
mat4py
I never try then but the scipy.io.loadmayt is pretty old.

[2020-12-01 12:10] ferchaure commented on #13
Writing the recording on disk an extra time just to change the format is less than optimal. I think we have three options:

1. Use some package like hdf5storage (or the ones proposed by samuel) to save the recording in an up-to-date .mat file.
2. Save the recording in a basic hdf5 (similar to what I did for combinato) and code in WaveClus a way to open hdf5 files
3. Use the MATLAB Engine API to pa

[2020-12-01 17:39] timsainb commented on #185
I used the numpy approach I mentioned above, and it works well. Like you said, units appear/disappear and so chaining together the units results in some overlapping clusters that are probably the same unit over time.

I made a video of a subset spikes over the first 10 days (200K/90M), projected into UMAP (all channel activity for the 4ms surrounding the spike):
https://drive.google.com/file/d/1rM

[2020-12-01 17:54] alejoe91 commented on #185
@timsainb super!!!

Would you mind sharing the code with us? I think this would be a good addition for the API :)

[2020-12-02 00:27] timsainb commented on #185
I merged them in a bit of a hacky way, but here's some pseudocode of what I did to merge two sorts in a chain:

[code]

[2020-12-16 22:29] timsainb opened #188 "Speed bottleneck with run_sorter file copying"
Hey all,

I'm running into a speed bottleneck when running run_sorter (e.g. run_kilosort2, run_ironsort2). The vast majority of the time it takes to run a sort is copying data into e.g. the tmp_KS2 folder. I'm wondering if you have any advice for how to improve the copy speeds (e.g. with parallelization at some point?).

I'm basically loading a binary file, grabbing the relevant channels, doing so

[2020-12-17 07:34] alejoe91 commented on #188
Hi @timsainb

You can indeed parallelize the process of writing to binary! I [recently](https://github.com/SpikeInterface/spikesorters/commit/e4bcf5801382d6d1dcd4f31e9cc1d6dcb33febfe) added two extra arguments to all sorters that write to binary: `n_jobs_bin` and `chunk_mb`.

You can try to use, for example, `n_jobs_bin=16` (or more, depending on your machine, and `chunk_mb=4000`. This will use ch

[2020-12-17 17:17] timsainb commented on #188
Awesome, thanks!

[2020-12-17 17:17] #188 closed

[2021-01-06 22:35] seqasim commented on #169
Update: I am not working on this as it seems Combinato still runs into issues with different data formats and larger files that I can't quite figure out.

[2021-01-06 22:35] #169 closed

[2021-01-28 12:37] benefron opened #190 "Issue with kilosort 2.5"
Hi,
I tried running the kilosort2.5 sorter on 2 different machines.
I tried using both running the sorter itself and the run_sorters method.
I get the same issue coming up:
"~/anaconda3/lib/python3.8/site-packages/spikesorters/kilosort2_5/kilosort2_5.py in _setup_recording(self, recording, output_folder)
    139         # save binary file
    140         input_file_path = output_folder / 'recordin

[2021-01-28 12:39] alejoe91 commented on #190
Hi, it seems you have an outdated version of spikeextractors. Can you try `pip install --upgrade spikeextractors`?

[2021-01-28 12:44] benefron commented on #190
It returns that requirement already satisfied

[2021-01-28 13:12] alejoe91 commented on #190
Hi @benefron

Can you paste the output of `pip list`?

With `spikesorters==0.4.3` and `spikeextractors==0.9.3` things should work fine.

Kilosort2 calls the `recording.write_to_bin_dat_format()` ([here](https://github.com/SpikeInterface/spikesorters/blob/0.4.3/spikesorters/kilosort2/kilosort2.py#L130)) and those keyword arguments are indeed [present in the function](https://github.com/SpikeInterfa

[2021-01-28 13:22] benefron commented on #190
spikecomparison                    0.3.1
spikeextractors                    0.9.3
spikefeatures                      0.1.1
spikeinterface                     0.11.0
spikemetrics                       0.2.2
spikesorters                       0.4.3
spiketoolkit                       0.7.2
spikewidgets                       0.5.1

[2021-01-28 13:24] alejoe91 commented on #190
That looks correct, but you can see from my links that the functions are compatible with those versions. Can you try to uninstall and re-install with pip?

[2021-01-28 13:28] benefron commented on #190
I just did it before running the notebook.I can try again

[2021-01-28 13:32] alejoe91 commented on #190
Wait, what is the type of your RecordingExtractor? It might be extractor-specific!

[2021-01-28 13:32] benefron commented on #190
open ephys binary

[2021-01-28 13:34] alejoe91 commented on #190
Then it should be fine..can you paste the entire error traceback?

[2021-01-28 13:39] benefron commented on #190
TypeError                                 Traceback (most recent call last)
<ipython-input-20-a9b019b30105> in <module>
----> 1 Kilo_test = ss.run_kilosort2_5(recording_cache,'/home/ben/Z/291220/2020-12-29_17-47-01_1429/A112_kilosort_test',parallel=False)

~/anaconda3/lib/python3.8/site-packages/spikesorters/sorterlist.py in run_kilosort2_5(*args, **kwargs)
    484         The spike sorted data

[2021-01-28 13:42] alejoe91 commented on #190
Ah! You have cached the recording!!! Ok then there was a bug there ([missing params](https://github.com/SpikeInterface/spikeextractors/blob/0.9.3/spikeextractors/extractors/bindatrecordingextractor/bindatrecordingextractor.py#L84)) that is fixed on [master](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/bindatrecordingextractor/bindatrecordingextractor.py#

[2021-01-28 13:45] benefron commented on #190
OK great,
Thanks I will install from source.

[2021-01-28 15:26] benefron commented on #190
So now I get a new error:
Traceback (most recent call last):
  File "/home/labs/lampllab/befron/Dec_Jan2021/Sorting/kiloSort_test.py", line 132, in <module>
    recording_cache = se.CacheRecordingExtractor(recording_cmr)
  File "/home/labs/lampllab/befron/.local/lib/python3.7/site-packages/spikeextractors-0.9.3-py3.7.egg/spikeextractors/cacheextractors.py", line 30, in __init__
  File "/home/labs/

[2021-01-28 15:41] alejoe91 commented on #190
Right! Found the bug. Basically the .m files associated to kilosort2_5 were not copied to the site-packages.

Fixed here: https://github.com/SpikeInterface/spikesorters/pull/191

Can you install `spikesorters` from source?

[2021-01-28 19:21] benefron commented on #190
Yes I will try.
Thanks

[2021-01-28 19:36] benefron commented on #190
now I get this:
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
<ipython-input-23-04cd991c91a1> in <module>
----> 1 Kilo_test = ss.run_kilosort2_5(recording_cache,'/home/ben/Z/291220/2020-12-29_17-47-01_1429/A112_kilosort_test')

~/anaconda3/lib/python3.8/site-packages/spikesorters-0.4.3-py3.8.e

[2021-01-28 20:14] alejoe91 commented on #190
Looks like the same error as before..how did you reinstall `spikesorters`?

[2021-01-28 20:16] benefron commented on #190
it seems similar but in a different location in the code
I did
"pip uninstall spikesorters"
and then from the updated git repository did
"python setup.py install"

[2021-01-28 20:17] alejoe91 commented on #190
I see! Sorry I'll take a closer look tomorrow

[2021-01-28 20:19] benefron commented on #190
Sure,
Thanks for all the help
Ben

[2021-01-29 07:49] alejoe91 commented on #190
Hi @benefron

Did you install from the master branch or the KS2_5_manifest branch? the changes were on the latter, but I just merged it to master. So if you repeat the installation as you did it should work now :)

[2021-01-29 22:58] benefron commented on #190
Seems to be solved.
Thank you

[2021-01-29 22:58] #190 closed

[2021-02-02 15:47] benefron opened #192 "Issue with kilosort2.5"
Hello again,
I have been getting the following error in the kilosort2_5.log:
To get started, type doc.
To get started, type doc.
For product information, visit www.mathworks.com.
For product information, visit www.mathworks.com.

Time   0s. Computing whitening matrix..
Time   0s. Computing whitening matrix..
Getting channel whitening matrix...
Getting channel whitening matrix...
Channel-whitening

[2021-02-02 15:55] alejoe91 commented on #192
Hi! Did you just clone the KS repo? There has been a new upgrade (KS3) so you might need to recompilt the visa codes I guess

[2021-02-02 16:36] benefron commented on #192
Sorry I forgot to run the mex command.
But now I get a different error in the .log:
Time   0s. Computing whitening matrix..
Time   0s. Computing whitening matrix..
Getting channel whitening matrix...
Getting channel whitening matrix...
Channel-whitening matrix computed.
Channel-whitening matrix computed.
Time   8s. Loading raw data and applying filters...
Time   8s. Loading raw data and applying f

[2021-02-02 16:50] alejoe91 commented on #192
Does it work with the kilosort GUI? You have the recording in a bin file in the output folder so you can easily test that. I suspect it would fail also running KS directly...for some recordings KS does fail and it's hard to understand what's wrong with the CUDA errors

[2021-02-02 16:54] benefron commented on #192
I can't run the GUI. I am running everything on a cluster. I am trying something I saw in the kilosort issues.

[2021-02-02 16:55] alejoe91 commented on #192
Yeah for sorter-related issues I think that's the best option!

[2021-02-03 15:15] gmaggi opened #194 "kilosort 3"
Hi,

is there a plan to enable kilosort3 via spikeinterface?

Thanks,
Giuliano.

[2021-02-03 15:27] samuelgarcia commented on #194
We get a PR 2 hour ago #193 !!!!

[2021-02-03 15:29] alejoe91 commented on #194
Merged now :)

[2021-02-08 16:39] gmaggi commented on #194
Thanks a lot!!
I am testing. Meanwhile I have a question, is this env variable defined as it should be?: https://github.com/SpikeInterface/spikesorters/blob/master/spikesorters/kilosort3/kilosort3.py#L116
is ok like that or should be called KILOSORT3_PATH?

Regards.

[2021-02-08 16:50] alejoe91 commented on #194
Good catch @gmaggi! Could you make a small PR to fix it? :)

[2021-02-11 13:14] #159 closed

[2021-02-13 22:12] shirquinn opened #197 "wave_clus"
Hi
I'm trying to run waveclus sorter via spikeinterface and it keeps getting stuck at this:
matlab -nosplash -wait -log -r run_waveclus

with the matlab command window blank

any idea why and how to solve this?
Thank you

[2021-02-14 10:18] alejoe91 commented on #197
Hi,

What matlab version and what OS are you using?

Alessio

[2021-02-14 10:20] shirquinn commented on #197
windows 10, 64-bit, 32GB RAM, Matlab R2020a

[2021-02-14 10:29] shirquinn commented on #197
windows 10, 64-bit, 32GB RAM, Matlab R2020a
- I left it running and it produced an output after about 20 minutes for a 30 minutes recording- is this timing ok? should it be faster?
- what is the best curating approach for waveclus output? should i preform the curation via waveclus GUI since it allows to change the temperature in order to seperate clusters? i'd appreciate your recommendation

[2021-02-14 12:16] mhhennig commented on #194
Has anyone seen this:
[code]
Have an RTX 2070 SUPER here...

[2021-02-14 12:21] alejoe91 commented on #197
The timing sounds alright to me. It also depends on the number of channels.

For manual curation you can use either the wave list GUI or export the output to Phy. Curation is very subjective in my opinion, so you can use whatever you prefer :)

[2021-02-14 12:21] #197 closed

[2021-02-18 09:56] ChrisCurrin opened #198 "running Kilosort 3 fails with matlab error `Index in position 1 exceeds array bounds (must not exceed 4)`"
running Kilosort 3 on '[Getting started with SpikeInterface](https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html)' tutorial fails with matlab error `Index in position 1 exceeds array bounds (must not exceed 4)`

## Current Behavior
Running kilosort3 in place of mountainsort4 in the `plot_getting_started` fails.

Naturally, because a script is run, the error is

[2021-02-18 17:48] ChrisCurrin commented on #198
This fails on Ubuntu 20.04.2 LTS with CUDA Toolkit 11.2 (10.2 does not support Ubuntu 20.04) with the same message.

[2021-02-19 15:52] MFVDias opened #199 "TypeError: mountainsort4() got an unexpected keyword argument 'verbose'"
I've been trying to run ms4 but keep on getting this error.

[code]

Error:

[code]

[2021-02-19 16:05] alejoe91 commented on #199
Hi, the `verbose` option has been added to mountainsort verison 0.3.5 (https://github.com/magland/ml_ms4alg/blob/0.3.5/ml_ms4alg/mountainsort4.py#L27)

runnin `pip install ml_ms4alg==0.3.5` (or `pip install --upgrade ml_ms4alg`) should fix this!

[2021-02-19 16:07] alejoe91 commented on #198
Hi Chris,

The toy example is probably too small for KS3.

Can you try to use this instead:

`recording, sorting = se.example_datasets.toy_example(num_channels=64, duration=300)`

If this still fails, I would open an issue on the Kilosort repo.

Let me know
Alessio

[2021-02-19 16:55] MFVDias commented on #199
Thanks for the prompt response! I'll give it a try.

[2021-02-19 17:54] MFVDias commented on #199
It seemed to run fine but crashed after a while. This was the error:

```AttributeError: module 'dask' has no attribute 'delayed'```

[2021-02-20 15:57] MFVDias commented on #199
Just had the dask core library installed. Installing the whole thing solved it

```conda install dask```

[2021-02-22 16:50] ChrisCurrin commented on #198
thanks, it makes it further into the process!

The subsequent error is:

[code]

I'll investigate further and potentially open an issue on the Kilosort repo if I can't solve this.

Thanks for the larger data suggestions.

[2021-02-22 16:50] #198 closed

[2021-02-23 17:45] michaeljohnclancy opened #200 "Inconsistent interface for setting hdsort path"
All other sorters currently allow for passing a Posix path to their path setting function (e.g. HDSortSorter.set_hdsort_path). HDSort's path setter does not allow for this, only allowing a string.

[2021-02-24 11:51] alejoe91 commented on #200
Thanks for spotting this, will fix it!

[2021-02-24 12:01] alejoe91 commented on #200
Actually no other sorters accepted `Path` types. I now added the possibility to use either `str` or `Path` fpr all sorters that require a path in this PR: https://github.com/SpikeInterface/spikesorters/pull/201

[2021-02-24 17:57] #200 closed

[2021-02-24 17:57] #199 closed

[2021-02-24 17:57] #11 closed

[2021-02-24 17:58] #13 closed

[2021-03-02 13:02] MFVDias opened #204 "run_mountainsort4 error when run in parallel"
Hello,
Not sure if this can be a ms4 problem but when I try to run it in parallel the following error is printed in the terminal over and over and no outputs are generated.

[code]

I reinstalled 'spikesortes' from master but keep getting the same error.

[2021-03-03 08:33] alejoe91 commented on #204
Hi @MFVDias ,

Is this the entire error? I don't see where it's triggered within spikeinterface.. can you paste the full traceback?

[2021-03-03 16:58] MFVDias commented on #204
Hi Alessio,

I only get that message on the terminal.
After interrupting the code I get this one on my notebook

[code]

[2021-03-03 17:24] alejoe91 commented on #204
Yeah it seems related to the `joblib` package not being able to spawn subprocesses with the `loky` context. Can you try to rerun it by adding the following arg to the `run_` function? `joblib_backend='multiprocessing'`

[2021-03-03 22:01] MFVDias commented on #204
I'll give it try!

[2021-03-04 10:49] MFVDias commented on #204
OK, now ms4 seems to be complaining
[code]

[2021-03-04 11:02] alejoe91 commented on #204
Right.. in fact MS4 is set to only work with `loky` now that I double checked.
For now I would run it with `parallel=False`.

What OS are you running? The `parallel` option is tested in Ubuntu, but it might not work well with other OS

[2021-03-04 12:07] MFVDias commented on #204
Thanks for the quick reply. I'm on a Mac.

Running with `parallel=False` works fine but takes a lot of time.

[2021-03-05 23:00] crewl2 opened #205 "Installing sorters"
I'm having an issue installing klusta and spiking circus. I managed to install ironclust, but for some reason can't install the others. When trying to install using ss.KlustaSorter I'm getting an attribution error.

[2021-03-06 08:01] alejoe91 commented on #205
Hi, can you copy the entire error?

Did you follow these guidelines to get the sorters installed? https://spikeinterface.readthedocs.io/en/latest/sortersinfo.html

[2021-03-06 18:07] crewl2 commented on #205
I did follow the installation guidelines. I may be writing the code wrong, but I'm trying to follow exactly what was given in spiketutorials. When trying to run Klusta it tells me I need to install it. When I look at installed sorters, klusta doesn't come up.

Here's my error

---------------------------------------------------------------------------
AttributeError                            Trac

[2021-03-06 18:14] alejoe91 commented on #205
Hi, klusta doesn't need a path to be set because it's a python package (there's no mention to setting a path in the instructions!)

[2021-03-06 19:00] crewl2 commented on #205
I thought so! But when I use ss.intstalled_sorters() it doesn't show that klusta has been installed. I followed all the installation instructions and when I try to run the sorter I get the installation error.

code:

# run spike sorting by group
sorting_KL = ss.run_klusta(recording_cache, adjacency_radius=50,
                                      output_folder='results_split_klusta',

[2021-03-07 23:51] eejd opened #206 "Passing 'run_sorter_kwargs' with 'raise_error' throws Bad Parameter"
When attempting to log rather than throw errors during grouped clustering, you need to pass `raise_error` to `BaseSorter._run()` but the (documented) way to do that from `run_sorter` is to pass `run_sorter_kwargs` dictionary with `raise_error` as a parameter. When you do this, you get:

[code]

[2021-03-08 06:15] alejoe91 commented on #206
Hi! The `run_sorter_kwargs` is for the `run_sorters` function, not the `run_sorter`. For the latter, you can pass the arguments directly. Or are you using the `run_sorters` function?

[2021-03-08 06:16] alejoe91 commented on #205
Hi, then it didn't install properly. Try to reinstall it! If klusta doesn't show up in the list of installed sorters, then it won't run

[2021-03-08 09:36] eejd commented on #206
Ah, correct, I was using `run_sorter` currently. However, a second problem occurred when I used `raise_error` directly: the output collection doesn't have `raise_error` protection so `run_sorter` still causes an Exception to halt the process. In this case, the goals is to allow groups individually to fail without stopping the whole process. (e.g. a tetrode is flagged with multiple bad channels and

[2021-03-08 11:30] alejoe91 commented on #206
Right! That should be fixed :) I'll make a PR soon!

[2021-03-09 19:02] AlanoudAlsubhi commented on #205
Hi,
I am having the same issue. I did install Klusta by following the given instruction but when I run ss.intstalled_sorters(), it returns an empty array. What might be the issue here?

Thank you,
Alanoud

[2021-03-09 19:16] alejoe91 commented on #205
What is the output of the terminal when you try to install klusta?

[2021-03-09 19:21] AlanoudAlsubhi commented on #205
Microsoft Windows [Version 10.0.18363.1256]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\aalsubhi>pip install klusta
Requirement already satisfied: klusta in c:\users\aalsubhi\appdata\local\programs\python\python39\lib\site-packages (3.0.16)

[2021-03-09 19:26] alejoe91 commented on #205
Did you install klustakwik2 as well?

[2021-03-09 19:26] crewl2 commented on #205
I'm getting the same thing. Requirement already satisfied. I can even activate klusta in the terminal.

[2021-03-09 19:29] alejoe91 commented on #205
Klustakwik2?

[2021-03-09 19:29] AlanoudAlsubhi commented on #205
Microsoft Windows [Version 10.0.18363.1256]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\aalsubhi\Downloads\klusta-master>pip install klustakwik2
Collecting klustakwik2
  Using cached klustakwik2-0.2.6-cp39-cp39-win_amd64.whl
Installing collected packages: klustakwik2
Successfully installed klustakwik2-0.2.6

[2021-03-09 19:31] crewl2 commented on #205
pip install klustakwik2
Requirement already satisfied: klustakwik2 in /Users/laurencrew/opt/miniconda3/lib/python3.8/site-packages (0.2.6)

[2021-03-09 19:46] AlanoudAlsubhi commented on #205
![image](https://user-images.githubusercontent.com/79871345/110528474-2f570e80-80e6-11eb-920c-cf6879f30bff.png)

[2021-03-09 19:47] alejoe91 commented on #205
Are you sure you are using the right environment? It doesn't look installed here!

[2021-03-09 19:54] AlanoudAlsubhi commented on #205
Can you briefly explain what you mean by the "right environment"? So even if klusta is activated on the terminal it is not necessary installed on python?

I tried to follow the installation instructions on [here](https://github.com/kwikteam/klusta/#quick-install-guide) but I might have missed something out.

[2021-03-09 21:07] alejoe91 commented on #205
Sure! So I believe that when you run the `jupyter notebook` command, the notebook starts in the wron environment, meaning a different python. In order to check this, you can run `pip list` from you command line (after activating the klusta env), and also run `!pip list` in the jupyter notebook. They'll probably be different! This is because the python version will be different (you can try to run

[2021-03-10 11:01] alejoe91 commented on #205
If you still get environment mismatches, you can try to install `nb_conda_kernels`:

`conda install nb_conda_kernels`

[2021-03-11 09:12] #206 closed

[2021-03-12 16:59] AlanoudAlsubhi commented on #205
@alejoe91 This actually clarified A LOT. It helped me to figure out how environments work and organize accordingly.
Now when I run ss.intstalled_sorters() Klusta shows up.

Thanks a lot.

[2021-03-12 17:28] #205 closed

[2021-03-16 14:21] TomBugnon opened #209 "[feature request] (re-)write data to binary before sorting only when needed"
Hi all,

Currently the extractor's data is always rewritten to binary before running a sorter.
This is unnecessarily slow and costly in disk space when the extractor was already defined based on a single binary file which can be read by the sorter. It would be a great update I think!
Cheers, Tom

[2021-03-16 14:33] TomBugnon commented on #209
Looking forward, thanks!

[2021-03-25 14:25] AlanoudAlsubhi opened #211 "SpikeSortingError: Spike sorting failed: klusta returned a non-zero exit code."
Hi again,

I am running SpikeInterface with the Klusta sorter on MacOS Catalina. It starts the analysis but then it stops with an error. I did run the same code on my window10 and it works fine.
<img width="830" alt="Screen Shot 2021-03-25 at 10 24 06 AM" src="https://user-images.githubusercontent.com/79871345/112488805-42a7e200-8d54-11eb-97ce-d4a6c91aa9a9.png">
<img width="773" alt="Screen Shot 2

[2021-03-25 14:28] alejoe91 commented on #211
Hi,

Can you check the klusta.log in the output folders? Not sure why it's failing

[2021-03-25 14:29] alejoe91 commented on #211
It could be that it found no units on a tetrode. Can you try to run it with the `raise_error=False` argument?

[2021-03-25 14:35] AlanoudAlsubhi commented on #211
[klusta.log](https://github.com/SpikeInterface/spikesorters/files/6205449/klusta.log)

ValueError: cannot convert float NaN to integer

[2021-03-25 14:36] alejoe91 commented on #211
Yeah that means spike sorting failed for some reason..can you try what I suggested? Maybe that happens only for one tetrode

[2021-03-25 14:44] AlanoudAlsubhi commented on #211
So I did add raise_error=False as an argument.

ValueError: cannot convert float NaN to integer

Error running klusta
No spikes found for this channel group
Klusta found 0 units.

Does it stop if doesn't find any units on one of the channels on the first group?

[2021-03-25 14:47] alejoe91 commented on #211
It might unfortunately. I would refer you to the klusta documentation, but klusta is.not being developed anymore

[2021-03-25 14:51] AlanoudAlsubhi commented on #211
I see. I found it odd that it found units when I ran it on my window10 but not on Mac.
do you recommend another sorter that runs well on both mac and windows10 and doesn't require Matlab?

Thanks

[2021-04-06 13:31] bendichter opened #212 "feature: use hither to run dockerized spike sorters"

[2021-04-06 13:40] samuelgarcia commented on #212
Hi Ben.
This is something planned in the new spikeinterface "big_refactoring" branch.
Jeremy plan to do it.
You should open a ticket directly on spikeinterface to remind it.

[2021-04-12 14:22] chMariyana opened #214 "Ironclust Tuning"
Hi,
I have a problem that is not an issue with the implementation of Ironclust in SpikeInterface, but I would still like to post my question as you might have some ideas.

I am currently working with data recorded from the hippocampus of birds (chickens and zebra finches), the probe is Neuropixels array with 16x1 channels and the duration is varying but in general longer than 40min.
When I sort th

[2021-04-13 06:57] samuelgarcia commented on #214
Hi Mariyana.
Yes I think it can be a good place to discuss this.
Thank you for the feedback.

I think it is a general case accross sorter when the dataset is "easy" there is a bit of agreement in between sorter.
It can be the case when simulated dataset or dataset withtout drift.
For drifty or noisy dataset the agreement collaspe totaly.
I have a dataset now with neuropixel and the agreement betwe

[2021-04-13 07:58] alejoe91 commented on #214
Hi Maryiana,

I also got the same issue running IronClust on some datasets (finding very few, overmerged units). I don't understand if you are using Neuropixels (384 channels) or another probe with 16x1 channels. Can you clarify that?

Cheers
Alessio

[2021-04-13 09:17] chMariyana commented on #214
Hi everyone,

Thank you for the quick and detailed replies!

Alessio, the probe has 16 channels. I am not the one doing the recording, I am a student working on a few weeks project to (hopefully) assist with the analysis, so I will double check additional technical details about the probe.

Samuel, sharing the data and the code to reproduce the issue is a great idea. I will have to confirm  with m

[2021-04-16 09:48] chMariyana commented on #214
Hi again,

I am sorry for the misleading description of the probe, it is a Neuronexus, 16 channels, the tip has length 1500um. Each channel has an area of 413um^2.
I can share a notebook and the data if it would be interesting for you. Just let me know where would be most convenient to do so.

Thanks!
Cheers, Mariyana

[2021-04-22 16:46] timsainb opened #216 "IronClustSorter writes and uses MDA rather than .DAT file, so writing data can't be parallelized"
Spikeinterface's interface with ironclust chose .mda.
The problem with .mda, is that write_recording with MDA isn't parallelized (see https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extraction_tools.py#L375). So writing to MDA is much slower.

It seems like there are two ways to fix this:
1) Use a different file format. Ironclust is can take in several formats - .mda,

[2021-04-22 17:12] samuelgarcia commented on #216
I vote for binary format.

[2021-04-22 19:08] alejoe91 commented on #216
Ahhh I see! Sorry I misinterpreted it! I think option 1 would be better, but ironclust is not maintained anymore as far as I know. Probably easier to add parallelization to the mda write function.

[2021-04-22 19:39] timsainb commented on #216
That makes sense, thanks. The only reason I'm using ironclust here is its the only sorter that I can find that sorts multiday recordings of 16-64ch  neuronexus probes (any suggestions appreciated).

The _write_dat_one_chunk function, that allows parallelization with .dat files creates a np.memmap, writes to it in parallel.

.mda files just `file_handle.write(traces.tobytes())` sequentially.

This

[2021-04-22 19:45] alejoe91 commented on #216
@timsainb yeah I can imagine you need parallelization for those many channels. Have you tried Kilosort2-3 or herding spikes? Those also can handle large channel counts.

I think creating a memmap and writing then the header is doable. The memmap has no header IMO, so we should only figure out how to append at the beginning of the file.

[2021-04-22 20:56] samuelgarcia commented on #216
@timsainb : tell me you have try tridesclous :)

[2021-04-23 13:25] atranvan opened #217 "command not found error for klusta and spykingcircus (sorters are installed)"
Hi,

I just performed an install of spikeinterface and several sorters through instructions found [here](https://spikeinterface.readthedocs.io/). This is running on a cluster. spikeinterface and python-based sorters were installed in the same freshly created conda environment with python 3.7

my problem seems similar to issue #88

I try to run the getting [tutorial](https://spikeinterface.readthed

[2021-04-25 15:01] farazmoradi commented on #217
The same Issue!

[2021-04-25 20:15] alejoe91 commented on #217
Hi,

CLI-based sorters (as klusta and spyking-circus) and matlab-based (e.g. Kilosort) are run through subprocesses. It seems that the subprocess doesn't start in the correct environment.

Can I ask more information on what kind of cluster you are using?

[2021-04-26 21:37] atranvan commented on #217
Hi Alessio,

I am using a HPC cluster. I am slightly perplexed as to why moutainsort runs and not the other sorters though?

[2021-04-27 07:26] alejoe91 commented on #217
Hi @atranvan

So mountainsort4 (and other sorters - tridesclous, herdingspikes) use directly the SpikeInterface API to run the sorting, so basically they are run in the same environment. The other sorters launch subprocesses either from the command line interface (klusta, spyking circus) or from matlab (kilosort, ironclust, waveclus).

I suspect that spawning a new sub-process in the HPC does not

[2021-04-27 09:59] atranvan commented on #217
Hi Alessio,

I found a solution in the spirit of what you suggest. I usually run jupyter outside any specific conda environment and use ipykernel to load kernels corresponding to the desired environments, and that works as far as importing packages go.
When I instead activate the environment and run jupyter lab from there, the subprocesses to run the other sorters now launch properly.
Thanks a lot

[2021-04-27 09:59] #217 closed

[2021-05-04 01:04] timsainb opened #220 "Separating _setup_recording and _run when with sorter [advice]"
I'm trying to figure out how to optimize my pipeline to run sorts on a compute cluster. At present I'm submitting sort jobs to the cluster, which runs a python script pointing spikeinterface at my binary data and calling `run_sorter`. There are basically two things that take time.

1) `_setup_recording`, grabbing data, getting it in the right format, applying preprocessors. This is basically limit

[2021-05-04 07:38] samuelgarcia commented on #220
Hi Tim,
the behavior you would like is already available in the "new APi" of spikeinterface (next release).
Have a look here:
https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/runsorter.py#L48

In short the new BaseSorter have only classmethod.
So there is no more instance.
All the state are store in the sorter folder. (recording/params/logs)
This is very convinie

[2021-05-07 04:45] timsainb commented on #220
Thanks @samuelgarcia ! I'll switch over to the master branch here in a new environment and rewrite my pipeline to use the refactored api.

Would you be able to point me toward, or provide some sudocode for, initializing the folder in on script, then running the sort in another script?

Something like this?

Script 1:
[code]

Script 2:
[code]

[2021-05-07 06:00] timsainb commented on #220
Looking through the new api, I'm realizing now that there are some major changes that are going to require a significant amount of time to deal with in my pipeline, and the documentation's not there yet. Is there a any roadmap (even an informal one) to help with finding where things are being moved? And is there anything that hasn't been implemented yet in the new version that exists in the old ve

[2021-05-07 07:00] samuelgarcia commented on #220
Hi Tim.
Comment about your first question:
 1. This is the main idea
 2. youd should not use pickle.
 3. The only thing you have to "pickle" is sorter_name and folder.

So
[code]

For your second comment, yes it will break your code and need some adaptation.
But keep it mind that some stuffs are really faster (include copy files) and have a better internal design.
The doc is already here: https://

[2021-05-07 23:22] timsainb commented on #220
Lots of really exciting updates. I'll give it a go. Let me know if you end up having any questions from the user end.

That would be very appreciated. If I'm going to use the new codebase this is a necessity for me.

Thanks!

[2021-05-11 05:58] timsainb commented on #220
Re-the code you provided, I'm looking through the run_sorter/run_from_folder function, and I see that there is some plan to implement a flag to delete the sort folder after sorting. Presumably, we want to hold onto the sort data which should be pretty small, but not the reformatted recording data. Is that the plan for this flag?

 Alternatively, it would make sense to, after sorting, have a functi

[2021-05-11 16:12] samuelgarcia commented on #220
Note that you can also control the place with
`sorting = run_sorter(recording, output_folder='/my/favorite/path')`

[2021-05-11 16:12] #220 closed

[2021-05-13 04:53] #216 closed

[2021-07-11 12:19] vojtasmekal commented on #204
Hi,
I seem to be having the same issue when running ms4, but I'm not sure I understand where to include the `parallel=False` parameter.
Thanks in advance!

[2021-07-23 13:24] vojtasmekal opened #224 "mountainsort4 failing"
Hi, I am having my sorting crash while running MountainSort4, resulting in a very long error ending with:

OSError: [Errno 16] Device or resource busy: '.nfs0000000000a0d87500000002'
Traceback (most recent call last):
  File "/home/vojtasmekal/miniconda3/envs/sorting/lib/python3.8/site-packages/spikesorters/basesorter.py", line 158, in run
    self._run(recording, self.output_folders[i])
  File "/